.comp-index-kv{
  .main_img{
    width: 100%;
    height: var(--wHeightPx);
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      &.pc_img{
        display: none;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-index-kv{
    .main_img{
      width: 100%;
      height: 100vh;
      img{
        &.sp_img{
          display: none;
        }
        &.pc_img{
          display: block;
        }
      }
    }
  }
}
