.comp-index-kv{
  .main_img{
    width: 100%;
    height: var(--wHeightPx);
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      &.pc_img{
        display: none;
      }
    }
  }
}
