.comp-insta-feed{
  margin-top: 35px;
  .feed_inner{
    @include flexSet;
    .insta-post{
      width: calc(100% / 3);
      box-sizing: border-box;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      &:nth-of-type(n + 7){
        display: none;
      }
      a{
        display: block;
        width: 100%;
        height: 36vw;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .link_button{
    margin-top: 20px;
    a{
      @include flexSet;
      align-items: center;
      justify-content: center;
      background: $keyColor;
      color: #fff;
      padding: 15px 0 15px;
      font-size: 1.6rem;
      .icon{
        width: 14px;
        margin-top: 2px;
        margin-right: 7px;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-insta-feed{
    margin-top: 70px;
    .feed_inner{
      @include flexSet;
      .insta-post{
        width: calc(100% / 6);
        box-sizing: border-box;
        border-right: 1px solid #fff;
        border-bottom: 0px solid #fff;
        &:nth-of-type(n + 7){
          display: none;
        }
        a{
          @include hover;
          height: 17vw;
          max-height: 330px;
        }
      }
    }
    .link_button{
      max-width: 380px;
      margin: 70px auto 0;
      a{
        @include flexSet;
        @include hover;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 200px;
        padding: 17px 0 20px;
        color: $fontColor;
        font-size: 1.8rem;
        .icon{
          width: 18px;
          margin-top: 2px;
          margin-right: 9px;
        }
      }
    }
  }

}
