.page-brewery{
  padding-bottom: 20px;
  .section-main{
    margin-bottom: 8vw;
  }
  .section-facility-map{
    .map_img_wrap{
      .pc_img{
        display: none;
      }
    }
  }
  .section-facility-detail{
    padding-top: 16vw;
    .facility_inner{
      @include wrapper;
      .comp-ttl-group{

      }
    }
  }
  .section-access{
    padding-top: 20vw;
    .aceess_flex_wrap{
      .access_content{
        .access_description{
          @include basicP;
          margin-bottom: 40px;
          p{
            margin-bottom: 0;
            span{
              margin-top: 10px;
              display: block;
              font-size: 0.9em;
              color: #686868;
            }
            br{
              display: none;
            }
          }
        }
        .access_map{
          position: relative;
          width: 100vw;
          height: 80vw;
          margin-left: -7vw;
          iframe{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            filter: grayscale(100%);
          }
        }
      }
    }
  }
  .section-calendar{
    padding-top: 20vw;
    margin-bottom: 13vw;
    .calendar_wrapper{
      position: relative;
      width: 100%;
      height: 100vw;
      iframe{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .page-brewery{
    padding-bottom: 0px;
    .section-main{
      margin-bottom: 80px;
    }
    .section-facility-detail{
      padding-top: 160px;
      .facility_inner{
        /*width: 100%;*/
        .comp-ttl-group{
          text-align: center;
          margin-bottom: 80px;
        }
      }
    }
    .section-access{
      padding-top: 160px;
      .aceess_flex_wrap{
        @include flexSet;
        justify-content: space-between;
        .access_content{
          width: 70%;
          .access_description{
            margin-bottom: 50px;
            p{
              margin-bottom: 0;
              br{
                display: block;
              }
            }
          }
          .access_map{
            position: relative;
            width: 100%;
            height: 400px;
            margin-left: 0;
          }
        }
      }
    }
    .section-calendar{
      padding-top: 160px;
      margin-bottom: 160px;
      .calendar_flex_wrap{
        @include flexSet;
        justify-content: space-between;
        .comp-business-calendar{
          width:70%;
        }
        .calendar_wrapper{
          width:70%;
          height: 600px;
        }
      }
    }
  }

}
