.page-company{
  padding-top: 110px;
  padding-bottom: 60px;
  .section-company{
    .comp-page-bread{
      margin-bottom: 10px;
    }
    .comp-underpage-ttl{
      margin-bottom: 25px;
    }
  }
}
