.page-facility{
  padding-bottom: 20px;
  .section-main{
    margin-bottom: 8vw;
  }
  .section-facility-map{
    margin-bottom: 16vw;
    .map_img_wrap{
      .pc_img{
        display: none;
      }
    }
  }
  .section-facility-detail{
    margin-bottom: 20vw;
    .facility_inner{
      @include wrapper;
      .comp-ttl-group{

      }
    }
  }
  .section-access{
    margin-bottom: 20vw;
    .aceess_flex_wrap{
      .access_content{
        .access_description{
          @include basicP;
          margin-bottom: 40px;
          p{
            margin-bottom: 0;
            span{
              margin-top: 10px;
              display: block;
              font-size: 0.9em;
              color: #686868;
            }
            br{
              display: none;
            }
          }
        }
        .access_map{
          position: relative;
          width: 100vw;
          height: 80vw;
          margin-left: -7vw;
          iframe{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            filter: grayscale(100%);
          }
        }
      }
    }
  }
}
