.page-izuhonten{
  position: relative;
  z-index: 20;
  .outer_wrapper{
    position: relative;
    z-index: 30;
  }
  section{
    .section_wrapper{
      position: sticky;
      width: 100%;
      left:0;
      right:0;
      top: 17vh;
      .section_txt_wrap{
        @include flexSet;
        justify-content: center;
        .lead_ttl{
          font-size: 2.4rem;
          line-height: 1.6;
          letter-spacing: 0.02em;
          color: #fff;
          writing-mode: vertical-rl;
        }
        .desc_wrapper{
          p{
            font-size: 1.7rem;
            line-height: 2;
            letter-spacing: 0.02em;
            color: #ffffff;
            writing-mode: vertical-rl;
          }
        }
      }
    }
  }
  .section-main{
    height: calc(var(--wHeightFixedPx) * 1);
    .section_wrapper{
      position: relative;
      width: 100%;
      top:0;
      height: calc(var(--wHeightFixedPx));
      .main_img_sp{
        position: fixed;
        top:0;
        left:0;
        right:0;
        margin: auto;
        opacity: calc(1 - calc(var(--scroll) / 2000 ));
      }
      .munakata_logo{
        position: fixed;
        bottom: 30px;
        right: 20px;
        width: 70px;
        opacity: calc(1 - calc(var(--scroll) / 500 ));
      }
    }
  }
  .section-lead01{
    height: calc(var(--wHeightFixedPx) * 4);
    .section_wrapper{
      opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeightFixed) * 1 / 1000)));
      .section_txt_wrap{
        opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 2.5 / 500)));
      }
    }
  }
  .section-lead02{
    height: calc(var(--wHeightFixedPx) * 3);
    .section_wrapper{
      opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 5 / 500)));
      .section_txt_wrap{
        opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 6 / 500)));
      }
    }
  }
  .sake_slider_wrapper{
    .sake_wrapper_txt{
      display: none;
    }
    .sake_section_wrapper{
      .section-sake01,
      .section-sake02,
      .section-sake03,
      .section-sake04
      {
        height: calc(var(--wHeightFixedPx) * 3);
      }
      .section-sake01{
        .section_wrapper{
          opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 8 / 500)));
          .section_txt_wrap{
            opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 9 / 500)));
          }
        }
      }
      .section-sake02{
        .section_wrapper{
          opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 11 / 500)));
          .section_txt_wrap{
            opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 12 / 500)));
          }
        }
      }
      .section-sake03{
        .section_wrapper{
          opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 14 / 500)));
          .section_txt_wrap{
            opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 15 / 500)));
          }
        }
      }
      .section-sake04{
        .section_wrapper{
          opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 17 / 500)));
          .section_txt_wrap{
            opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 18 / 500)));
          }
        }
      }
    }
  }
  .section-bottle{
    height: calc(var(--wHeightFixedPx) * 3);
  }
  .section-store01{
    height: calc(var(--wHeightFixedPx) * 3);
    .store_wrapper{
      position: sticky;
      width: 100%;
      left:0;
      right:0;
      top: 0;
      height: calc(var(--wHeightPx));
      @include flexSet;
      align-items: center;
      justify-content: center;
      opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 23 / 500)));
      .img_wrap{
        width: 100%;
        opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 24 / 500)));
        text-align: center;
        pointer-events: none;
        img{
          max-width: 50%;
          margin: 0 auto 15px;
          @media screen and (max-width: 330px){
            max-width: 40%;
            margin: 0 auto 10px;
          }
        }
        .txt_wrap{
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.6;
          color: #fff;
          margin-top: 20px;
          @media screen and (max-width: 330px){
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  .store_slider_wrapper{
    .sake_wrapper_txt{
      display: none;
    }
    .section-store02,
    .section-store03,
    .section-store04,
    .section-store05{
      height: calc(var(--wHeightFixedPx) * 3);
      .store_content_wrapper{
        position: sticky;
        top: 17vh;
        left:0;
        right:0;
        .store_content_txt{
          @include flexSet;
          justify-content: center;
          .lead_ttl{
            font-size: 2.4rem;
            line-height: 1.6;
            letter-spacing: 0.02em;
            color: #fff;
            writing-mode: vertical-rl;
            span{
              display: inline-block;
              text-indent: -0.5em;
            }
          }
          .desc_wrapper{
            p{
              font-size: 1.7rem;
              line-height: 2;
              letter-spacing: 0.02em;
              color: #ffffff;
              writing-mode: vertical-rl;
              text-orientation: upright;
              span{
                display: inline-block;
                text-indent: -0.5em;
              }
            }
          }
        }
      }
    }
    .section-store02{
      .store_content_wrapper{
        opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 26 / 500)));
        .store_content_txt{
          opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 27 / 500)));
        }
      }
    }
    .section-store03{
      .store_content_wrapper{
        opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 29 / 500)));
        .store_content_txt{
          opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 30 / 500)));
        }
      }
    }
    .section-store04{
      .store_content_wrapper{
        opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 32 / 500)));
        .store_content_txt{
          opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 33 / 500)));
        }
      }
    }
    .section-store05{
      .store_content_wrapper{
        opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 35 / 500)));
        .store_content_txt{
          opacity: calc(1 - calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 36 / 500)));
        }
      }
    }
  }
}
.section-map02{
  height: calc(var(--wHeightPx) * 3);
  .map_content_wrapper{
    position: sticky;
    width: 100%;
    left:0;
    right:0;
    top: 100px;
    opacity: calc(0 + calc(calc(var(--scroll) / 500) - calc(var(--wHeightFixed) * 38 / 500)));
    .map_copntent_txt{
      @include wrapper;
      color: #fff;
      .map_copntent_ttl{
        font-size: 1.8rem;
        line-height: 1.5;
        margin-bottom: 15px;
        @media screen and (max-width: 330px){
          font-size: 1.6rem;
        }
        span{
          display: block;
        }
      }
      .map_copntent_description{
        font-size: 1.4rem;
        line-height: 1.87;
        @media screen and (max-width: 330px){
          font-size: 1.3rem;
        }
        p{
          margin-bottom: 1.25em;
          a{
            color: inherit;
          }
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
        }
        .map_link{
          margin-top: 20px;
          a{
            max-width: 120px;
            @include flexSet;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            color: #fff;
            font-size: 1.4rem;
            border: 1px solid #fff;
            border-radius: 5px;
            @include hover;
            .icon{
              width:11px;
              margin-right: 8px;
              margin-bottom: 7px;
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width: 980px){
  .page-izuhonten{
    position: relative;
    z-index: 20;
    section{
      .section_wrapper{
        top: 20vh;
        @media screen and (min-height: 1000px){
          top: 0;
          bottom:0;
          height: 100vh;
          @include flexSet;
          justify-content: center;
          align-items: center;
        }
        .section_txt_wrap{
          .lead_ttl{
            font-size: 3.0rem;
          }
          .desc_wrapper{
            p{
              font-size: 2.0rem;
              line-height: 2.2;
            }
          }
        }
      }
    }
    .section-main{
      height: 100vh;
      .section_wrapper{
        position: relative;
        width: 100%;
        height: calc(var(--wHeightPx));
        .main_img_sp{
          display: none;
        }
        .munakata_logo{
          bottom: 40px;
          right: 30px;
          width: 100px;
          opacity: calc(1 - calc(var(--scroll) / 1000 ));
        }
      }
    }
    .section-lead01{
      height: 400vh;
      margin-bottom: 100vh;
      .section_wrapper{
        opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 1 / 1000)));
        .section_txt_wrap{
          opacity: calc(1 - calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 3 / 1000)));
        }
      }
    }
    .section-lead02{
      height: 400vh;
      margin-bottom: 100vh;
      .section_wrapper{
        opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 5.8 / 1000)));
        .section_txt_wrap{
          opacity: calc(1 - calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 8 / 1000)));
        }
      }
    }
    .sake_slider_wrapper{
      @include flexSet;
      flex-direction: row-reverse;
      align-items: flex-start;
      .sake_wrapper_txt{
        width: 50%;
        position: sticky;
        top:0px;
        right:0;
        height: 100vh;
        @include flexSet;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        color: inherit;
        opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 10.8 / 1000)));
        .txt_inner{
          opacity: calc(1 - calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 23 / 1000)));
          .lead_ttl{
            font-size: 3.0rem;
            line-height: 1.6;
            margin-left: 20px;
          }
          .desc_wrapper{
            font-size: 1.8rem;
            line-height: 2;
            p{
              margin-left: 10px;
              opacity: 0;
              &:nth-of-type(1){
                opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 14 / 1000)));
              }
              &:nth-of-type(2){
                opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 17 / 1000)));
              }
              &:nth-of-type(3){
                opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 20 / 1000)));
              }
              &:nth-last-of-type(1){
                margin-left: 0;
              }
            }
          }
        }
      }
      .sake_section_wrapper{
        width: 50%;
        .section-sake01{
          height: 300vh;
          margin-bottom: 100vh;
          .section_wrapper{
            display: none;
          }
        }
        .section-sake02,
        .section-sake03,
        .section-sake04,
        {
          height: 200vh;
          margin-bottom: 150vh;
          .section_wrapper{
            display: none;
          }
        }
      }
    }
    .section-bottle{
      height: 400vh;
    }
    .section-store01{
      height: 500vh;
      .store_wrapper{
        position: sticky;
        width: 100%;
        left:0;
        right:0;
        top: 0;
        height: calc(var(--wHeightPx));
        @include flexSet;
        align-items: center;
        justify-content: center;
        opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 29.5 / 1000)));
        .img_wrap{
          opacity: calc(1 - calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 32 / 1000)));
          img{
            max-width: 280px;
            margin: 0 auto 15px;
          }
          .txt_wrap{
            text-align: center;
            font-size: 2.0rem;
            margin-top: 20px;
            br{
              display: none;
            }
          }
        }
      }
    }
    .store_slider_wrapper{
      @include flexSet;
      flex-direction: row-reverse;
      align-items: flex-start;
      .sake_wrapper_txt{
        display: block;
        width: 100%;
        position: sticky;
        top:0;
        right:0;
        height: 100vh;
        @include flexSet;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        color: inherit;
        color: #fff;
        .txt_inner{
          opacity: calc(1 - calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 45.5 / 1000)));
          .lead_ttl{
            font-size: 3.0rem;
            line-height: 1.6;
            margin-left: 20px;
            opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 35 / 1000)));
            span{
              display: inline-block;
              text-indent: -0.5em;
            }
          }
          .desc_wrapper{
            font-size: 1.8rem;
            line-height: 2;
            p{
              margin-left: 10px;
              text-orientation: upright;
              span{
                display: inline-block;
                text-indent: -0.5em;
              }
              &:nth-of-type(1){
                opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 38 / 1000)));
              }
              &:nth-of-type(2){
                opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 41 / 1000)));
              }
              &:nth-of-type(3){
                opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 44 / 1000)));
              }
              &:nth-last-of-type(1){
                margin-left: 0;
              }
            }
          }
        }
      }
      .section-store02,
      .section-store03,
      .section-store04,
      .section-store05{
        width: 1px;
        height: 300vh;
        .store_content_wrapper{
          display: none;
        }
      }
    }
  }

  .section-map02{
    height: 300vh;
    .map_content_wrapper{
      position: sticky;
      width: 100%;
      height: 100vh;
      left:0;
      right:0;
      top: 0;
      opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 47.5 / 1000)));
      @include flexSet;
      align-items: center;
      .map_copntent_txt{
        @include wrapper;
        color: #fff;
        .map_copntent_ttl{
          font-size: 2.8rem;
          line-height: 1.5;
          margin-bottom: 25px;
          span{
            display: block;
            font-size: 2.0;
          }
        }
        .map_copntent_description{
          font-size: 1.5rem;
        }
      }
    }
  }

}
