@charset "UTF-8";
/*########## ミックスイン ##########*/
/* ----- Google Fonts ----- */
/*########## 共通レイアウト ##########*/
.animate-fadeup {
  /* blur + opacity + transition */
  opacity: 1;
  -webkit-filter: blur(0px) brightness(1);
          filter: blur(0px) brightness(1);
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
  -webkit-transition: opacity 0.6s, -webkit-filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, -webkit-filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), transform 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity, filter, transform;
}
.animate-fadeup.effect, .animate-fadeup.delayed_effect {
  opacity: 0;
  -webkit-filter: blur(15px) brightness(1.25);
          filter: blur(15px) brightness(1.25);
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
}

.animate-fadeup2 {
  /* opacity + transition */
  opacity: 1;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.5, 1, 0.89, 1), -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity, transform;
}
.animate-fadeup2.effect, .animate-fadeup2.delayed_effect {
  opacity: 0;
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
}

.animate-fadeup3 {
  /* opacity */
  opacity: 1;
  -webkit-transition: opacity 0.8s cubic-bezier(0.5, 1, 0.89, 1);
  transition: opacity 0.8s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity;
}
.animate-fadeup3.effect, .animate-fadeup3.delayed_effect {
  opacity: 0;
}

.func-txt-anim, .func-txt-anim-wrap {
  overflow: hidden;
}
.func-txt-anim span, .func-txt-anim-wrap span {
  display: inline-block;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 0.5s;
  transition: -webkit-transform 0.5s, -webkit-filter 0.5s;
  transition: transform 0.5s, filter 0.5s;
  transition: transform 0.5s, filter 0.5s, -webkit-transform 0.5s, -webkit-filter 0.5s;
  will-change: transform;
}
.func-txt-anim span.display, .func-txt-anim-wrap span.display {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul:after {
  display: block;
  content: "";
  clear: both;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #fff;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  color: inherit;
}
@media screen and (max-width: 780px) {
  select {
    font-size: 1.6rem;
  }
}
select:focus {
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

::-moz-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

:-ms-input-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

::-ms-input-placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}

::placeholder {
  color: #aaa;
  font-size: 1.4rem;
  font-weight: normal;
}
@media screen and (max-width: 780px) {
  ::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  ::-moz-placeholder {
    font-size: 1.6rem;
  }
  :-ms-input-placeholder {
    font-size: 1.6rem;
  }
  ::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  ::placeholder {
    font-size: 1.6rem;
  }
}

select option::-webkit-input-placeholder {
  color: #444;
}

select option::-moz-placeholder {
  color: #444;
}

select option:-ms-input-placeholder {
  color: #444;
}

select option::-ms-input-placeholder {
  color: #444;
}

select option::placeholder {
  color: #444;
}

::-webkit-placeholder {
  /*padding-top: 0.25em;*/
}

::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}

::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #aaa;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.4rem;
  line-height: 1.5;
}
@media screen and (max-width: 780px) {
  textarea {
    font-size: 16rem;
  }
}

input {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
  border: 1px solid #979797;
  padding: 0 5px;
  font-size: 1.6rem;
}
@media screen and (max-width: 780px) {
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number] {
    font-size: 1.6rem;
  }
}

input[type=submit],
input[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
input[type=submit]:hover,
input[type=button]:hover {
  opacity: 0.7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html {
  font-size: 9px;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  scrollbar-width: none !important;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  height: -webkit-fill-available;
  /*scroll-behavior: smooth;*/
}
html::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
html::-webkit-scrollbar-thumb {
  background: transparent !important;
}
@media screen and (min-width: 351px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 980px) {
  html {
    font-size: 9px;
  }
}
@media screen and (min-width: 1341px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 1700px) {
  html {
    font-size: 11px;
  }
}

body {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #44413C;
  background: #000;
  font-weight: 500;
  font-family: "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS PMincho", serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch !important;
  scrollbar-width: none !important;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  height: -webkit-fill-available;
  overflow-x: unset !important;
}
body h1, body h2, body h3, body h4, body h5 {
  font-weight: 400;
}
body.notoserif {
  font-family: "Noto Serif JP", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS PMincho", serif;
  font-weight: 500;
}
body.notoserif h1, body.notoserif h2, body.notoserif h3, body.notoserif h4, body.notoserif h5 {
  font-weight: 400;
}
body.shippori {
  font-family: "Shippori Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS PMincho", serif;
  font-weight: 500;
}
body.shippori h1, body.shippori h2, body.shippori h3, body.shippori h4, body.shippori h5 {
  font-weight: 400;
}
body.zenold {
  font-family: "Zen Old Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS PMincho", serif;
  font-weight: 500;
}
body.zenold h1, body.zenold h2, body.zenold h3, body.zenold h4, body.zenold h5 {
  font-weight: 400;
}

body.bind {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

article {
  padding-top: 0px;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  will-change: opacity;
}
article.loading {
  opacity: 0;
}

section .section_inner {
  width: 87vw;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 720px) {
  section .section_inner {
    width: 83%;
    max-width: 1590px;
  }
}
@media screen and (min-width: 720px) {
  section .section_inner {
    min-width: 1200px;
  }
}

button {
  font-family: inherit;
  font-weight: inherit;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  direction: ltr;
  pointer-events: none;
}
header .header_inner {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_inner .header_left .header_logo {
  position: relative;
  width: 160px;
  height: 36px;
}
header .header_inner .header_left .header_logo img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
}
header .header_inner .header_left .header_logo img.black {
  opacity: 0;
}
header .header_inner .header_left .header_navigation {
  display: none;
}
header .header_inner .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_inner .header_right .lang_shifter {
  display: none;
  margin-right: 5px;
}
header .header_inner .header_right .lang_shifter .header_lang {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}
header .header_inner .header_right .lang_shifter .header_lang a {
  display: block;
  color: #acacac;
  pointer-events: none;
}
header .header_inner .header_right .lang_shifter .header_lang a.en {
  padding-right: 5px;
}
header .header_inner .header_right .lang_shifter .header_lang a.jp {
  font-family: inherit !important;
  padding-left: 5px;
}
header .header_inner .header_right .lang_shifter .header_lang a.active {
  color: #44413C;
  pointer-events: all;
}
header .header_inner .header_right .navigation_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 5px;
}
header .header_inner .header_right .navigation_wrapper .nav_item {
  margin-right: 10px;
}
header .header_inner .header_right .navigation_wrapper .nav_item a {
  display: block;
}
header .header_inner .header_right .navigation_wrapper .nav_item a img {
  width: auto;
  height: 24px;
}
header .header_inner .header_right .hummenu_wrap button {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: #0A0830;
  border: 1px solid #fff;
  border-radius: 50%;
}
header .header_inner .header_right .hummenu_wrap button span {
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  margin: auto;
  -webkit-transition: background 0.1s, -webkit-transform 0.1s;
  transition: background 0.1s, -webkit-transform 0.1s;
  transition: background 0.1s, transform 0.1s;
  transition: background 0.1s, transform 0.1s, -webkit-transform 0.1s;
  will-change: background, transform;
}
header .header_inner .header_right .hummenu_wrap button span:nth-of-type(1) {
  top: 22px;
}
header .header_inner .header_right .hummenu_wrap button span:nth-of-type(2) {
  bottom: 22px;
}

@media screen and (min-width: 980px) {
  header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  header .header_inner {
    padding: 25px 20px;
  }
  header .header_inner .header_logo {
    width: 200px;
    height: 45px;
  }
}
footer {
  padding: 50px 0 40px;
  background: #0A0830;
  color: #fff;
}
footer .footer_inner {
  width: 87vw;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 720px) {
  footer .footer_inner {
    width: 83%;
    max-width: 1590px;
  }
}
footer .footer_inner .footer_navigation {
  margin-bottom: 20px;
}
footer .footer_inner .footer_navigation .parent_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li {
  width: 50%;
  margin-bottom: 35px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .parent {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  padding: 5px 0;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .children {
  margin-top: 10px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .children li {
  margin-bottom: 10px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .children li a {
  position: relative;
  display: block;
  padding: 3px 0;
  font-size: 1.3rem;
  color: #fff;
  padding-left: 15px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .children li a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 7px;
  height: 1px;
  background: #fff;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap {
  margin-top: 10px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap .nav_item {
  margin-bottom: 5px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap .nav_item:nth-last-of-type(1) {
  margin-top: 10px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap .nav_item a {
  padding: 5px 0;
  color: #fff;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap .nav_item a .img_wrap {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap .nav_item a .img_wrap img {
  width: auto;
  height: 20px;
  margin: 0 auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap .nav_item a .caret {
  margin-left: 9px;
}
footer .footer_inner .footer_navigation .parent_ul .parent_li .outer_link_wrap .nav_item a .caret img {
  width: 9px;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}
footer .footer_inner .footer_corp_info .footer_logo {
  margin-bottom: 30px;
}
footer .footer_inner .footer_corp_info .footer_logo a {
  display: block;
  width: 100px;
  margin: 0 auto;
}
footer .footer_inner .footer_corp_info .corp_name {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}
footer .footer_inner .footer_corp_info .corp_address {
  font-size: 1.3rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 30px;
}
footer .footer_inner .footer_corp_info .corp_sns_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_inner .footer_corp_info .corp_sns_wrap .sns_item {
  margin-right: 15px;
}
footer .footer_inner .footer_corp_info .corp_sns_wrap .sns_item:nth-last-of-type(1) {
  margin-right: 0;
}
footer .footer_inner .footer_corp_info .corp_sns_wrap .sns_item a {
  display: block;
}
footer .footer_inner .footer_corp_info .corp_sns_wrap .sns_item a img {
  width: auto;
  height: 20px;
}
footer .footer_inner .footer_lower {
  margin-top: 25px;
}
footer .footer_inner .footer_lower ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
footer .footer_inner .footer_lower ul li {
  position: relative;
  line-height: 2.2;
  padding-right: 10px;
  margin-right: 10px;
}
footer .footer_inner .footer_lower ul li::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 12px;
  background: #fff;
}
footer .footer_inner .footer_lower ul li a {
  display: block;
  font-size: 1.3rem;
  color: #fff;
}
footer .footer_inner .footer_lower ul li:nth-of-type(2), footer .footer_inner .footer_lower ul li:nth-of-type(5) {
  padding-right: 0px;
  margin-right: 0px;
}
footer .footer_inner .footer_lower ul li:nth-of-type(2)::before, footer .footer_inner .footer_lower ul li:nth-of-type(5)::before {
  display: none;
}
footer .footer_inner .footer_lower ul li.reline {
  width: 100%;
}
footer .footer_inner .footer_lower ul li.reline::before {
  display: none;
}
footer .footer_inner .footer_lower .copyright {
  font-size: 1.2rem;
  text-align: center;
}

/*########## ページ個別レイアウト ##########*/
.page-company {
  padding-top: 110px;
  padding-bottom: 60px;
}
.page-company .section-company .comp-page-bread {
  margin-bottom: 10px;
}
.page-company .section-company .comp-underpage-ttl {
  margin-bottom: 25px;
}

/*########## コンポーネント ##########*/
/*@import 'component/comp-page-background.scss';
@import 'component/comp-index-loading.scss';
@import 'component/comp-scroll-bar.scss';*/
/* 共通 */
.comp-page-bread {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comp-page-bread .link_wrap a {
  color: inherit;
  position: relative;
  padding-right: 0px;
  margin-right: 20px;
  color: #979797;
  -webkit-transition: color 0.2s, border 0.2s;
  transition: color 0.2s, border 0.2s;
}
.comp-page-bread .link_wrap a::after {
  position: absolute;
  width: 5px;
  height: 5px;
  content: "";
  top: 0;
  bottom: 0;
  right: -12px;
  margin: auto;
  border-top: 1px solid #979797;
  border-right: 1px solid #979797;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.comp-page-bread .link_wrap a:hover {
  color: #F25462;
  border-bottom: 1px solid #F25462;
}
.comp-page-bread .link_wrap a.last {
  padding-right: 0px;
  margin-right: 0px;
}
.comp-page-bread .link_wrap a.last::after {
  display: none;
}
.comp-page-bread .current {
  color: #44413C;
}

@media screen and (min-width: 768px) {
  .comp-page-bread {
    font-size: 1.3rem;
  }
}
.comp-underpage-ttl .page_ttl {
  font-size: 2.8rem;
  line-height: 1.5;
}
.comp-underpage-ttl .ttl_description {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.comp-underpage-ttl .ttl_description p {
  margin-bottom: 1em;
}
.comp-underpage-ttl .ttl_description p:nth-last-of-type(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 980px) {
  .comp-underpage-ttl .ttl_description {
    font-size: 1.8rem;
    padding: 0;
  }
}

.comp-company-profile {
  border-top: 1px solid #44413C;
}
.comp-company-profile .profile_item {
  padding: 20px 0;
  border-bottom: 1px solid #44413C;
}
.comp-company-profile .profile_item:nth-last-of-type(1) {
  padding-bottom: 0;
  border-bottom: 0px;
}
.comp-company-profile .profile_item .ttl {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.comp-company-profile .profile_item .content {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.comp-company-profile .profile_item .content p {
  margin-bottom: 1em;
}
.comp-company-profile .profile_item .content p:nth-last-of-type(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 980px) {
  .comp-company-profile .profile_item .content {
    font-size: 1.8rem;
    padding: 0;
  }
}