
/*########## ミックスイン ##########*/
@import 'mixin.scss';

/*########## 共通レイアウト ##########*/
@import 'common/animation.scss';
@import 'common/reset.scss';
@import 'common/form.scss';
@import 'common/common.scss';
@import 'common/header.scss';
@import 'common/footer.scss';
@import 'common/hummenu.scss';

/*########## ページ個別レイアウト ##########*/

@import 'pages/history.scss';
@import 'pages/product.scss';
@import 'pages/company.scss';


/*########## コンポーネント ##########*/

/*@import 'component/comp-page-background.scss';
@import 'component/comp-index-loading.scss';
@import 'component/comp-scroll-bar.scss';*/

/* 共通 */
@import 'component/common/comp-page-bread.scss';
@import 'component/common/comp-underpage-ttl.scss';
@import 'component/common/comp-company-profile.scss';
@import 'component/common/comp-ttl-group.scss';
@import 'component/common/comp-underpage-main.scss';
@import 'component/common/comp-arrow-button.scss';
@import 'component/common/comp-photo-gallery.scss';

/* 商品 */
@import 'component/product/comp-product-list.scss';
@import 'component/product/comp-craft-detail.scss';

/* 歩み */
@import 'component/history/comp-history-list.scss';
