@keyframes scrollbar {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

.comp-scroll-bar{
  position: fixed;
  width: 20px;
  bottom: -10px;
  left: 10px;
  margin: auto;
  @include flexSet;
  justify-content: space-between;
  z-index: 100;
  writing-mode: vertical-lr;
  padding-bottom: 40px;
  button{
    width: 100%;
    color: #ffffff;
    letter-spacing: 0.04em;
    @include hover;
    cursor: pointer;
    margin:0;
    padding: 0;
    .txt_wrap{
      font-size: 1.5rem;
      color: inherit;
      display: block;
      width: 120px;
      margin: 0 auto 10px;
    }
    .line{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom:0;
      left:0;
      right:0;
      margin: auto;
      display: inline-block;
      width: 1px;
      height: 35px;
      overflow: hidden;
      background: #acacac;
      &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #ffffff;
        position: absolute;
        animation: scrollbar 1.5s cubic-bezier(.77, 0, .175, 1) infinite;
        top: 0;
        right: 0;
        transition: 0.6s;
      }
    }
  }
  &.bar01{
    opacity: calc(1 - calc(calc(var(--scroll) / 1000) - calc(var(--wHeightFixed) * 36 / 1000)));
    pointer-events: none;
    user-select: none;
  }
  &.bar02{
    opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeightFixed) * 36 / 1000)));
    @media screen and (max-width: 979px){
      button{
        color: #fff;
        .line{
          background: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-scroll-bar{
    width: 100%;
    writing-mode: unset;
    padding-bottom: 0;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    button{
      width: 100%;
      color: #acacac;
      .txt_wrap{
        display: block;
        font-size: 1.8rem;
        width: 160px;
        margin: 0 auto 50px;
      }
      .line{
        width: 1px;
        height: 40px;
        background: #acacac;
        &::before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: #d8d8d8;
          position: absolute;
          animation: scrollbar 1.5s cubic-bezier(.77, 0, .175, 1) infinite;
          top: 0;
          right: 0;
          transition: 0.6s;
        }
      }
    }
    &.bar01{
      opacity: calc(1 - calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 46 / 1000)));
      pointer-events: none;
      user-select: none;
    }
    &.bar02{
      opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 46 / 1000)));
      button{
        color: #fff;
      }
    }
  }
}
