.comp-scroll-indicator{
  position: fixed;
  top:0;
  right:0;
  width: 4px;
  height: 100dvh;
  background: rgba(#d8d8d8,0.3);
  z-index: 100;
  .scroll_indicator{
    position: absolute;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: calc(var(--scroll) / var(--aHeight) * 100 * 1%);
    padding: 4px 0;
    background: rgba(#151818,0.7);
  }
  .section_button_wrapper{
    button{
      display: block;
      position: absolute;
      width: 4px;
      height: 1px;
      background: rgba(#d8d8d8,0.5);
      /*border-radius: 50%;*/
      left:0;
      right:0;
      &:nth-of-type(1){
        top: calc(var(--top1) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(2){
        top: calc(var(--top2) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(3){
        top: calc(var(--top3) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(4){
        top: calc(var(--top4) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(5){
        top: calc(var(--top5) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(6){
        top: calc(var(--top6) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(7){
        top: calc(var(--top7) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(8){
        top: calc(var(--top8) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(9){
        top: calc(var(--top9) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(10){
        top: calc(var(--top10) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(11){
        top: calc(var(--top11) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(12){
        top: calc(var(--top12) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(13){
        top: calc(var(--top13) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(14){
        top: calc(var(--top14) / var(--aHeight) * 100 * 1%);
      }
      &:nth-of-type(15){
        top: calc(var(--aHeight) / var(--aHeight) * 100 * 1%);
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-scroll-indicator{
    width: 8px;
    .scroll_indicator{
      height: calc(var(--scroll) / var(--aHeight) * 100 * 1%);
    }
    .section_button_wrapper{
      button{
        width: 8px;
        height: 1px;
        cursor: pointer;
      }
    }
  }
}
