.comp-index-loading{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: #0A0830;
  z-index: 10000;
  transition: opacity 4s;
  transform: translate3d(0,0,0);
  will-change: opacity;
  &.loaded{
    opacity: 0;
    pointer-events: none;
  }
  .load_inner{
    width: 100%;
    height: var(--wHeightPx);
    @include flexSet;
    justify-content: space-between;
    align-items: center;
    &.loaded{
      opacity: 0;
    }
    .loading_logo{
      display: block;
      width: 90px;
      margin: auto;
      opacity: 0;
      filter: blur(4px);
      transition: opacity 2.4s cubic-bezier(0.77, 0, 0.175, 1), filter 2.4s cubic-bezier(0.77, 0, 0.175, 1);
      will-change: opacity,filter;
      @media screen and (max-width: 720px){
        transform: translateY(-20px);
      }
      &.load{
        opacity: 1;
        filter: blur(0px);
      }
    }
  }
}
