/*@scroll-timeline #{'--mainscroll'} {
  source: auto;
  orientation: block;
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}*/


.comp-page-background{
  opacity: 0;
  transition: opacity 1s;
  will-change: opacity;
  position: fixed;
  top:0;
  left:0;
  right:0;
  margin: auto;
  height: 110dvh;
  min-height: 110dvh;
  &.loaded{
    opacity: 1;
  }
  .img_wrapper{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100dvh;
    height: -webkit-fill-available;
    padding-bottom: env(safe-area-inset-bottom);
    top:0;
    left:0;
    width: 100%;
    background-size: 110vw;
    background-image: url(assets/img/main.jpg);
    background-position: left -5vw top;
    will-change: transform, opacity;
    transform: translateZ(0);
    animation: fadeout 1s linear both;
    animation-timeline: scroll(root);
    will-change: opacity;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      &.sp_img{
        display: block;
      }
      &.pc_img{
        display: none;
      }
    }
    &.shadow{
      &::after{
        display: block;
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(#000,0.25);
      }
    }
    &.wrap00{
      z-index: 21;
      opacity: calc(1 - calc(var(--scroll) / 1000 ));
      /*max-height: calc(calc(var(--topPx1) * 1) + calc(var(--difference) * 1) - calc(var(--scrollPx) * 0.5));*/
      background-image: url(../img/main.jpg?ver3);
      @media screen and (max-width: 330px){
        background-image: url(../img/main_s.jpg?ver3);
      }
      @media screen and (min-width: 900px){
        /*max-height: calc(calc(var(--topPx1) * 1) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap01{
      z-index: 20;
      opacity: calc(calc(var(--top2) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx2) * 0.5) + calc(var(--difference) * 1) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 900px){
        /*max-height: calc(calc(var(--topPx2) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap02{
      z-index: 19;
      opacity: calc(calc(var(--top3) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx3) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      filter:brightness(0.5);
      @media screen and (min-width: 900px){
        filter:brightness(0.65);
        /*max-height: calc(calc(var(--topPx3) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap03{
      z-index: 18;
      opacity: calc(calc(var(--top4) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx4) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        /*max-height: calc(calc(var(--topPx4) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap04{
      z-index: 17;
      opacity: calc(calc(var(--top5) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx5) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        /*max-height: calc(calc(var(--topPx5) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap05{
      z-index: 16;
      opacity: calc(calc(var(--top6) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx6) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        /*max-height: calc(calc(var(--topPx6) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap06{
      z-index: 15;
      opacity: calc(calc(var(--top7) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx7) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      filter:brightness(0.7);
      @media screen and (min-width: 980px){
        filter:brightness(1);
        /*max-height: calc(calc(var(--topPx7) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap07{
      z-index: 14;
      opacity: calc(calc(var(--top8) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx8) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        /*max-height: calc(calc(var(--topPx8) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap08{
      z-index: 13;
      opacity: calc(calc(var(--top9) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx9) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      filter:brightness(0.8);
      @media screen and (min-width: 980px){
        filter:brightness(0.5);
        /*max-height: calc(calc(var(--topPx9) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap09{
      z-index: 12;
      opacity: calc(calc(var(--top10) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx10) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        /*max-height: calc(calc(var(--topPx10) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap10{
      z-index: 11;
      opacity: calc(calc(var(--top11) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx11) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        /*max-height: calc(calc(var(--topPx11) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap11{
      z-index: 10;
      opacity: calc(calc(var(--top12) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx12) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        filter:brightness(0.8);
        /*max-height: calc(calc(var(--topPx12) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap12{
      z-index: 9;
      opacity: calc(calc(var(--top13) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);
      /*max-height:calc(calc(var(--topPx13) * 0.5) + calc(var(--difference) * 1.5) - var(--scrollPx) * 0.5);*/
      @media screen and (min-width: 980px){
        filter:brightness(0.8);
        /*max-height: calc(calc(var(--topPx13) * 0.5) - calc(var(--scrollPx) * 0.5));*/
      }
    }
    &.wrap13{
      z-index: 8;
      /*opacity: calc(calc(var(--top14) - calc(var(--wHeight) / 4) - calc(var(--scroll) * 1)) / 1000);*/
      transition: background 2s;
      will-change: background;
      background-repeat: no-repeat;
      opacity: calc(0 + calc(calc(var(--move) / 1000) - calc(var(wHeightSp) * 38 / 1000)));
      @media screen and (min-width: 980px){
        opacity: calc(0 + calc(calc(var(--scroll) / 1000) - calc(var(--wHeight) * 47 / 1000)));
      }
      img{
        transform-origin: center center;
        transition: transform 2s;
        will-change: transform;
      }
    }
    &.wrap14{
      z-index: 6;
    }
  }
}

@media screen and (min-width: 980px){
  .comp-page-background{
    .img_wrapper{
      height: auto;
      background-image: unset !important;
      overflow: hidden;
      img{
        object-fit: cover;
        width: 200vh;
        height: 100vh;
        @media screen and (min-width: 200vh){
          width: 100%;
          height: 100%;
        }
        &.pc_img{
          display: block;
        }
        &.sp_img{
          display: none;
        }
      }
    }
  }
}
