.comp-ttl-group{
  margin-bottom: 30px;
  .ttl_jp{
    font-size: 2.8rem;
    text-indent: -0.1em;
    margin-bottom: 12px;
  }
  .ttl_en{
    @include lato;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 980px){
  .comp-ttl-group{
    margin-bottom: 30px;
    .ttl_jp{
      font-size: 3.6rem;
      text-indent: -0.1em;
      margin-bottom: 15px;
    }
    .ttl_en{
      font-size: 1.5rem;
    }
  }

}
