.comp-underpage-ttl{
  .page_ttl{
    font-size: 2.8rem;
    line-height: 1.5;
    text-indent: -0.1em;
  }
  .ttl_description{
    margin-top: 10px;
    @include basicP;
  }
}

@media screen and (min-width: 980px){
  .comp-underpage-ttl{
    .page_ttl{
      font-size: 3.8rem;
    }
    .ttl_description{
      margin-top: 15px;
    }
  }
}
