.comp-underpage-ttl{
  .page_ttl{
    font-size: 2.6rem;
    line-height: 1.5;
    text-indent: -0.1em;
  }
  .ttl_description{
    margin-top: 10px;
    padding-right: 6vw;
    @include basicP;
    text-align:justify;
    br{
      display: none;
    }
  }
}

@media screen and (min-width: 980px){
  .comp-underpage-ttl{
    .page_ttl{
      font-size: 3.4rem;
    }
    .ttl_description{
      max-width: 50%;
      margin-top: 15px;
      padding-right: 0;
      br{
        display: block;
      }
    }
  }
}
