.comp-photo-gallery{
  width: calc(100% - 10px);
  margin: 5px auto 0;
  @include flexSet;
  justify-content: space-between;
  .gallery_item{
    width: calc(50% - 2.5px);
    margin-bottom: 5px;
    height: 52vw;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &.full{
      width: 100%;
    }
  }
}

@media screen and (min-width: 980px){
  .comp-photo-gallery{
    width: calc(100% - 40px);
    margin: 20px auto 0;
    .gallery_item{
      width: calc(50% - 10px);
      margin-bottom: 20px;
      height: 52vw;
      &.full{
        width: 100%;
      }
    }
  }
}
