.comp-arrow-button{
  a,button{
    width: 50%;
    position: relative;
    font-size: 1.6rem;
    color: inherit;
    @include flexSet;
    align-items: center;
    justify-content: space-between;
    .caret{
      display: block;
      &.down{
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-image: url(../img/common/caret_down.svg);
        background-position: center top 0px;
      }
      &.right{
        width: 12px;
        height: 12px;
        background-size: 12px;
        background-image: url(../img/common/caret_right.svg);
        background-position: center left 0px;
        margin-right: 5px;
      }
    }
    .line{
      margin-top: 10px;
      display: block;
    	width: 100%;
    	height: 1px;
    	position: relative;
    	overflow: hidden;
      &::before, &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #111;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.6s;
      }
      &::before{
        left: -600%;
        width: 0;
      }
    }
    &:hover{
      .line{
        &::before{
          left: 0;
          width: 100%;
        }
        &::after{
          left: 100%;
        }
      }
    }
    &.white{
      .caret{
        filter:invert(1);
      }
      .line{
        &::before, &::after{
          background: #fff;
        }
      }
    }
  }
}
