.comp-underpage-main{
  padding-top: 80px;
  .under_main_wrapper{
    width: calc(100% - 20px);
    margin-left: 20px;
    .under_main_img{
      margin-bottom: 30px;
      .pc_img{
        display: none;
      }
    }
    .under_main_txt{
      .comp-page-bread{
        margin-bottom: 10px;
      }
    }
  }
}
