.comp-craft-detail{
  @include wrapper;
  .craft_item{
    margin-bottom: 50px;
    .craft_detail_img{
      margin-bottom: 25px;
    }
    .craft_detail_ttl{
      font-size: 2.0rem;
      line-height: 1.76;
      margin-bottom: 15px;
    }
    .craft_detail_desc{
      @include basicP;
      text-align: justify;
    }
  }
}
