.comp-craft-detail{
  @include wrapper;
  .craft_item{
    margin-bottom: 50px;
    .craft_detail_img{
      margin-bottom: 25px;
    }
    .craft_detail_txt{
      .craft_detail_ttl{
        font-size: 2.0rem;
        line-height: 1.76;
        margin-bottom: 15px;
      }
      .craft_detail_desc{
        @include basicP;
        text-align: justify;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-craft-detail{
    width: 100%;
    .craft_item{
      @include flexSet;
      align-items: center;
      margin-bottom: 100px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .craft_detail_img{
        width: 48%;
        margin-bottom: 0px;
      }
      .craft_detail_txt{
        width: 52%;
        padding: 0 80px;
        box-sizing: border-box;
        .craft_detail_ttl{
          font-size: 2.4rem;
          margin-bottom: 25px;
        }
        .craft_detail_desc{
          text-align: left;
          font-size: 1.5rem;
        }
      }
      &:nth-of-type(2n){
        flex-direction: row-reverse;
      }
    }
  }
}
