.comp-product-list{
  .product_item{
    margin-bottom: 45px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .product_img{
      margin-bottom: 25px;
      a{
        display: block;
      }
    }
    .product_txt{
      .prod_name{
        margin-bottom: 10px;
        a{
          display: block;
          font-size: 2.2rem;
          line-height: 1.5;
          color: inherit;
        }
      }
      .prod_description{
        @include basicP;
      }
      .prod_spec{
        text-align: center;
        font-size: 1.4rem;
        margin: 30px auto 25px;
      }
      .prod_button_wrap{
        margin-top:25px;
        a{
          display: block;
          padding: 15px 0;
          color: #fff;
          text-align: center;
          font-size: 1.6rem;
          background: $fontColor;
        }
        .button_description{
          margin-top: 20px;
          text-align: center;
          font-size: 1.1rem;
          line-height: 1.8;
        }
      }
    }
  }
}
