.comp-product-list{
  .product_item{
    margin-bottom: 45px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .product_img{
      margin-bottom: 30px;
      a{
        display: block;
      }
    }
    .product_txt{
      .prod_name{
        margin-bottom: 10px;
        font-size: 2.0rem;
        line-height: 1.5;
        a{
          display: block;
          color: inherit;
        }
      }
      .prod_description{
        @include basicP;
      }
      .prod_spec{
        text-align: center;
        font-size: 1.4rem;
        margin: 30px auto 25px;
      }
      .prod_button_wrap{
        margin-top:25px;
        a{
          @include flexSet;
          align-items: center;
          justify-content: center;
          padding: 15px 0;
          color: #fff;
          text-align: center;
          font-size: 1.6rem;
          background: $fontColor;
          .caret{
            display: block;
            width: 14px;
            height: 14px;
            margin-left: 10px;
            background-size: 14px;
            background-image: url(/img/izuhonten/munakata/prod_button_caret.svg);
            background-position: center left 0px;
          }
        }
        .button_description{
          margin-top: 20px;
          text-align: center;
          font-size: 1.1rem;
          line-height: 1.8;
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-product-list{
    .product_item{
      @include flexSet;
      align-items: center;
      margin-bottom: 40px;
      .product_img{
        width: 40%;
        margin-bottom: 0px;
        a{
          display: block;
          overflow: hidden;
          img{
            transition: transform .3s, filter .3s;
            will-change: transform, filter;
          }
          &:hover{
            img{
              transform: scale(1.1);
              filter:brightness(110%);
            }
          }
        }
      }
      .product_txt{
        width: 60%;
        padding-left: 80px;
        box-sizing: border-box;
        .prod_name{
          margin-bottom: 20px;
          font-size: 2.4rem;
          a{
            @include hover;
          }
        }
        .prod_spec{
          text-align: left;
          font-size: 1.5rem;
          text-indent: -0.5em;
          margin: 25px auto 30px;
        }
        .prod_button_wrap{
          margin-top:25px;
          a{
            justify-content: space-between;
            max-width: 180px;
            padding: 15px 15px;
            text-align: center;
            font-size: 1.6rem;
            transition: background .3s;
            will-change: background;
            &:hover{
              background: $keyColor;
            }
          }
          .button_description{
            margin-top: 20px;
            text-align: left;
            font-size: 1.3rem;
          }
        }
      }
    }
    &.flex{
      @include flexSet;
      .product_item{
        position: relative;
        padding-bottom: 120px;
        display: block;
        width: 30%;
        margin-right: 5%;
        margin-bottom: 40px;
        &:nth-of-type(3n){
          margin-right: 0;
        }
        .product_img{
          width: 100%;
          margin-bottom: 30px;
        }
        .product_txt{
          width: 100%;
          padding-left: 0px;
          .prod_name{
            font-size: 2.4rem;
            margin-bottom: 15px;
            a{
            }
          }
          .prod_description{
            font-size: 1.4rem;
          }
          .prod_spec{
            text-align: left;
            font-size: 1.4rem;
            text-indent: 0;
            margin: 25px auto 25px;
          }
          .prod_button_wrap{
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            margin: auto;
            margin-top:0px;
            a{
              justify-content: center;
              max-width: 100%;
            }
            .button_description{
              margin-top: 20px;
              text-align: center;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

}
