.comp-faclity-map{
  .map_img_wrap{
    position: relative;
    height: 87vw;
    margin-bottom: 12px;
    .img_item{
      position: absolute;
      top:0;
      left:0;
      opacity:0;
      will-change: opacity;
      &.active_img{
        opacity:1;
      }
    }
  }
  .map_button_wrap{
    @include flexSet;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin: 0 auto;
    .button_item{
      width: calc(33% - 5px);
      margin-right: 7px;
      margin-bottom: 7px;
      &:nth-of-type(3n){
        margin-right: 0;
      }
      button{
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        padding: 12px 0;
        background: #D9D9D9;
        color: $keyColor;
        &.active_button{
          background: $keyColor;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-faclity-map{
    position: relative;
    @include wrapper;
    .map_img_wrap{
      width: 100%;
      position: relative;
      height: 50vw;
      overflow: hidden;
      margin-bottom: 12px;
      .img_item{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        opacity:0;
        will-change: opacity;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        &.active_img{
          opacity:1;
        }
      }
    }
    .map_button_wrap{
      display: block;
      width: auto;
      margin: 0 auto;
      .button_item{
        position: absolute;
        top:0;
        left:0;
        width: auto;
        margin-right: 7px;
        margin-bottom: 7px;
        height: 40px;
        &:nth-of-type(3n){
          margin-right: 0;
        }
        button{
          width: auto;
          text-align: center;
          font-size: 1.6rem;
          padding: 12px 20px;
          background: $keyColor;
          color: #fff;
          border-radius: 200px;
          will-change: opacity;
          &:hover{
            opacity: 0;
          }
        }
        &.button01{
          display: none;
          left: 20%;
          top: 19%;
        }
        &.button02{
          left: 41%;
          top: 15%;
        }
        &.button03{
          left:16%;
          top: 30%;
        }
        &.button04{
          left: 57%;
          top: 31%;
        }
        &.button05{
          left: 34%;
          top: 44%;
        }
        &.button06{
          left: 32%;
          top: 58%;
        }
      }
    }
  }
}
