.comp-facility-detail{
  .facility_item{
    margin-bottom: 50px;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
    .facility_img{
      width: 93vw;
      margin-bottom: 25px;
    }
    .facility_txt{
      .facility_ttl{
        font-size: 2.2rem;
        line-height: 1.65;
        margin-bottom: 10px;
      }
      .facility_description{
        @include basicP;
        text-align:justify;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-facility-detail{
    .facility_item{
      @include flexSet;
      align-items: center;
      margin-bottom: 20px;
      &:nth-last-of-type(1){
        margin-bottom: 0;
      }
      .facility_img{
        width: 50%;
        margin-bottom: 0px;
      }
      .facility_txt{
        width: 50%;
        box-sizing: border-box;
        padding-left: 80px;
        .facility_ttl{
          font-size: 2.8rem;
          margin-bottom: 12px;
        }
        .facility_description{
          text-align:justify;
        }
      }
    }
  }
}
