.comp-business-calendar{
  border: 1px solid $borderColor;
  .calendar_inner{
    padding: 20px;
    background: #fff;
    border-radius: 0;
    .fc-header-toolbar{
      text-align: center;
      margin-bottom: 15px;
      .fc-toolbar-chunk{
        .fc-toolbar-title{
          font-size: 1.8rem;
        }
        .fc-button{
          background: $keyColor;
          border-radius: 0px;
          &:focus{
            outline: none;
          }
        }
      }
    }
    .fc-col-header-cell-cushion{
      font-weight: 400;
      padding: 5px 0;
    }
    .fc-daygrid-day-number{
      font-size: 1.1rem;
    }
    .fc-view-harness{
      /*height: auto !important;
      overflow: visible;
      .fc-view{
        position: relative;
      }*/

    }
  }
}

@media screen and (min-width: 768px){
  .comp-business-calendar{
    .calendar_inner{
      padding: 30px;
      .fc-header-toolbar{
        text-align: center;
        margin-bottom: 30px;
        .fc-toolbar-chunk{
          .fc-toolbar-title{
            font-size: 2.4rem;
          }
          .fc-button{
            background: $keyColor;
            border-radius: 0px;
            @include hover;
          }
        }
      }
      .fc-col-header-cell-cushion{
        font-weight: 400;
        padding: 10px 0;
      }
      .fc-daygrid-day-number{
        font-size: 1.4rem;
        padding: 8px;
      }
    }
  }
}
