header{
  position: fixed;
  z-index: 1000;
  top:0;
  left:0;
  right: 0;
  margin: auto;
  .header_inner{
    padding: 20px 15px;
    @include flexSet;
    align-items: center;
    justify-content: space-between;
    .header_left{
      .header_logo{
        position: relative;
        width: 160px;
        height: 36px;
        transition: filter .3s;
        will-change: filter;
        img{
          position: absolute;
          top:0;
          left:0;
          transition: opacity .3s;
          will-change: opacity;
          &.vertical{
            display: none;
          }
        }
      }
      .header_navigation{
        display: none;
      }
    }
    .header_right{
      @include flexSet;
      align-items: center;
      .lang_shifter{
        display: none;
        margin-right: 5px;
        transition: filter .3s;
        will-change: filter;
        .header_lang{
          font-size: 1.5rem;
          @include flexSet;
          align-items: center;
          margin-right: 5px;
          a{
            display: block;
            color: #acacac;
            pointer-events: none;
            &.en{
              padding-right: 5px;
            }
            &.jp{
              font-family: inherit !important;
              padding-left: 5px;
            }
            &.active{
              color: $fontColor;
              pointer-events: all;
            }
          }
        }
      }
      .navigation_wrapper{
        @include flexSet;
        margin-right: 5px;
        .nav_item{
          margin-right: 10px;
          transition: filter .3s;
          will-change: filter;
          a{
            display: block;
            img{
              width: auto;
              height: 24px;
            }
          }
        }

      }
      .hummenu_wrap{
        button{
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          background: $keyColor;
          border: 1px solid #fff;
          border-radius: 50%;
          span {
						position: absolute;
						width: 20px;
						height: 1px;
						left: 0;
						right: 0;
						margin: auto;
						background: #fff;
						margin: auto;
						transition: background 0.1s, transform 0.1s;
						will-change: background, transform;
						&:nth-of-type(1) {
							top: 22px;
						}
						&:nth-of-type(2) {
							bottom: 22px;
						}
					}
        }
      }
    }
  }
  &.hum_open{
    .header_inner{
      .header_left{
        .header_logo{
          filter:invert(1);
        }
      }
      .header_right{
        .lang_shifter{
          filter:invert(1);
        }
        .navigation_wrapper{
          .nav_item{
            filter:invert(1);
          }

        }
        .hummenu_wrap{
          button{
            span {
  						&:nth-of-type(1) {
                transform:translateY(-3.5px) rotate(45deg);
  						}
  						&:nth-of-type(2) {
                transform:translateY(3.5px) rotate(-45deg);
  						}
  					}
          }
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  header{
    .header_inner{
      padding: 20px;
      align-items: flex-start;
      .header_left{
        @include flexSet;
        .header_logo{
          position: relative;
          width: 70px;
          height: 255px;
          margin-right: 30px;
          transition: filter .3s;
          will-change: filter;
          img{
            position: absolute;
            top:0;
            left:0;
            transition: opacity .3s;
            will-change: opacity;
            &.horizonal{
              display: none;
            }
            &.vertical{
              display: block;
            }
          }
        }
        .header_navigation{
          @include flexSet;
          li{
            line-height: 70px;
            margin-right: 20px;
            &:nth-last-of-type(1){
              margin-right: 0;
            }
            a{
              display: block;
              font-size: 1.6rem;
              color: inherit;
              @include hover;
            }
          }
        }
      }
      .header_right{
        @include flexSet;
        line-height: 70px;
        align-items: center;
        .lang_shifter{
          display: block;
          margin-right: 15px;
          .header_lang{
            font-size: 1.6rem;
            margin-right: 10px;
            a{
              &.en{
                padding-right: 10px;
              }
              &.jp{
                padding-left: 10px;
              }
            }
          }
        }
        .navigation_wrapper{
          @include flexSet;
          margin-right: 5px;
          .nav_item{
            position: relative;
            @include flexSet;
            justify-content: center;
            align-items: center;
            margin: 20px 20px 20px 0;
            padding-right: 22px;
            &::before{
              display: block;
              content: "";
              position: absolute;
              top:0;
              bottom:0;
              right:0;
              margin: auto;
              width: 1px;
              height: 25px;
              background: $fontColor;
            }
            a{
              display: block;
              line-height: 1;
              img{
                width: auto;
                height: 28px;
                margin: 0 auto;
              }
            }
            &:nth-of-type(2){
              margin: 20px 0px 20px 0;
              &::before{
                display: none;
              }
            }
          }

        }
        .hummenu_wrap{
          display: none;
        }
      }
    }
  }
}
