@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-style: normal;
}

body {
	position:relative;
	z-index:1;
	left:0px;
	top:0px;
	-webkit-text-size-adjust: 100%;
	position: relative;
    overflow-x: hidden;
	width: 100%;
	/*----------
		KBH_OPE-6273 line-height: 1.7;
	----------*/
	line-height:1.7;
}

body , input {
	color: #333;
	/* font-family:"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif; */
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

html {
	font-size:16px;
}

ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

/*----------
	KBH_OPE-6273 line-height: 1.7;
----------*/
/*
ul , p , span , div {
	line-height:1.5;
}
*/


img {
	vertical-align:bottom;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}

a:link {
	color:inherit;
	text-decoration:none;
}

a:visited {
	color:inherit;
}

section {
	background-image:url(/sp/img/common/back_pat.png);
	padding:65px 0px 0px 0px;
}

footer {
	background-image:url(/sp/img/common/bback_pat.png);
}

h2 {
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
	font-size:18px;
}

h3 {
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

#subback {
	background-color:rgba(0,0,0,.7);
	display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 9980;
}

#subback img {
	height:55px;
	position:absolute;
	top:0px;
	right:0px;
}

#subback2 {
	background-color:rgba(0,0,0,.7);
	display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 9980;
}

input[type="button"] , input[type="text"] , input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}

/* 7/28以降修正分 ここから */
button {
	font-size:14px;
}
/* 7/28以降修正分 ここまで */

/* mxslider */

.mxslider {
	position:relative;
}

.mxslider > div > ul {
    width: 1415%;
    position: relative;
    right: 0px;
}

.mxslider > div > ul > li {
	float:left;
	margin:0px 15px 0px 0px;
}

.mxslider_sub > div > ul > li {
	margin:0px;
}

.mxslider > div > ul > li img {
	width:100%;
}

.mxslider_in {
	overflow:hidden;
}

.mxnext {
	position: absolute;
    top: 20%;
    right: -5px;
    background: url(/sp/img/common/next_ico.png) no-repeat;
    background-size:100%;
    width: 10%;
    height: 30%;
    text-indent: -9999px;
    z-index: 999;
}

.mxslider_sub .mxnext {
	top: 50%;
    margin: -20px 0px 0px 0px;
    right: 0px;
    background: url(/sp/img/common/sliderright_btn.png) no-repeat;
    width: 40px;
    background-size: 40px;
}

.mxprev {
    position: absolute;
    top: 20%;
    left:-5px;
    display: none;
    background: url(/sp/img/common/prev_ico.png) no-repeat;
	background-size:100%;
    width:10%;
    height:30%;
    text-indent: -9999px;
    z-index: 999;
}

.mxslider_sub .mxprev {
	top: 50%;
    margin: -20px 0px 0px 0px;
    left: 0px;
    background: url(/sp/img/common/sliderleft_btn.png) no-repeat;
    width: 40px;
    background-size: 40px;
}

.mxallpre {
    position: absolute;
    top: 20%;
    right: -5px;
    display: none;
    background: url(/sp/img/common/allback_ico.png) no-repeat;
	background-size:100%;
    width:10%;
    height: 30%;
    text-indent: -9999px;
    z-index: 999;
}

.mxslider_sub .mxallpre {
	top: 50%;
    margin: -20px 0px 0px 0px;
    right: 0px;
    background: url(/sp/img/common/sliderlall_btn.png) no-repeat;
    width: 40px;
    background-size: 40px;
}

.navul {
	position:absolute;
	bottom:10px;
	left:50%;
	z-index:9800;
}

.navul li {
	float: left;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #4e4d4d;
    text-indent: -9999px;
    margin: 0px 5px 0px 0px;
}

.navul li:last-child {
	margin:0px;
}

.navul li.onc {
	background-color:#fff;
}



/* header */

#header .header_top {
	z-index:0;
	position:fixed;
	height:65px;
	width:100%;
	background-color:#fff;
	z-index:9800;
	border-bottom:1px solid #e5e5e5;
}

#header .header_top > ul > li {
	float:left;
	text-align:center;
}

#header .header_top > ul > li:nth-of-type(1) {
	position:absolute;
	top:5px;
	left:5px;
}

/* 9/6以降修正分 ここから */
#header .header_top > ul > li:nth-of-type(2) {
	position:absolute;
	top:1px;
	left:60px;
}

#header .header_top > ul > li:nth-of-type(3) {
	position:absolute;
	top:5px;
	left:50%;
	margin:0px 0px 0px -33px;
}

#header .header_top > ul > li:nth-of-type(4) {
	position:absolute;
	top:5px;
	right:53px;
}

#header .header_top > ul > li:nth-of-type(4) span {
	position: absolute;
    top: 6px;
    left: 11px;
    background-color: #fff;
    display: none;
}

#header .header_top > ul > li:nth-of-type(4) span img {
	height: 48px;
}

#header .header_top > ul > li:nth-of-type(5) {
	position:absolute;
	top:5px;
	right:0px;
}

#header .header_top > ul > li:nth-of-type(5) span {
	position: absolute;
	background-image: url(/sp/img/main/cart_back.png);
	top: 0px;
	right: 5px;
	color: #fff;
	text-align: center;
	width: 22px;
	height: 22px;
}

#header .header_top > ul > li img {
	height:55px;
}

#header .header_top > ul > li:nth-of-type(2) img ,
#header .header_top > ul > li:nth-of-type(5) img {
	height: 44px;
    margin: 8px 3px 0px 0px;
}
/* 9/6以降修正分 ここまで */

#header .topnavi_box {
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
	padding:65px 0px 0px;

}

#header .topnavi_box {
	height: 44px;
    line-height: 44px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

#header .topnavi_box ul {
    width: 275px;
    margin: 0px auto;
}

#header .topnavi_box ul li {
    float: left;
    margin: 0px 10px 0px 0px;
}

#header .topnavi_box ul li:last-child {
    margin: 0px;
}

/* topsearch_box */

#topsearch_box {
	padding: 0px 15px 0px;
    position: fixed;
    top: 66px;
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 9800;
	overflow:hidden;
	-webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#topsearch_box form {
	margin:20px 0px 20px;
}

#topsearch_box form div {
	float:left;
	width:100%;
	padding:0px 39px 0px 0px;
	box-sizing:border-box;
}

#topsearch_box input[type="text"] {
	height: 39px;
    line-height: 39px;
    padding: 10px 10px;
    box-sizing: border-box;
    float: left;
    width: 100%;
}

#topsearch_box input[type="submit"] {
	border: none;
    height: 39px;
    width: 39px;
    background-color: #222222;
    background-image: url(/sp/img/common/searchbox_ico.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 26px;
    text-indent: -9999px;
    float: right;
	margin:0px 0px 0px -39px;
}

#topsearch_box dl dt {
	border-bottom:1px solid #bdbdbd;
	padding:0px 0px 8px;
	margin:0px 0px 8px;
}

#topsearch_box dl dd ul li {
	float:left;
	position:relative;
	margin:0px 15px 0px 0px;
	padding: 0px 0px 0px 20px;
	line-height: 22px;
}

#topsearch_box dl dd ul li a {
	color:#80590e;
	text-decoration:underline;
}

#topsearch_box dl dd ul li:after {
	content: "";
    background-image: url(/sp/img/common/fkeyword_ico.png);
    background-size: 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 0px;
}

/* nav */

#nav {
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

#nav > ul {
	overflow:auto;
	width:0px;
	position:fixed;
	height:100%;
	width:0px;
	top:0px;
	left:6px;
	z-index:9990;
	-webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
	-webkit-overflow-scrolling: touch;
	font-size: 4vw;
}

#nav > ul > li:nth-of-type(4) ,
#nav > ul > li:nth-of-type(5) ,
#nav > ul > li:nth-of-type(7) ,
#nav > ul > li:nth-of-type(8) ,
#nav > ul > li:nth-of-type(9) ,
#nav > ul > li:nth-of-type(10) ,
#nav > ul > li:nth-of-type(11) ,
#nav > ul > li:nth-of-type(12) , #nav > ul > li > dl > dt ,
#nav > ul > li > dl > dd > ul > li {
	height:50px;
	line-height:50px;
	position:relative;
}

#nav > ul > li > dl > dt {
	background-color:#555555;
	color:#fff;
	padding:0px 0px 0px 15px;
	border-bottom:1px solid #bdbdbd;
}

#nav > ul > li > dl > dd {
	display:none;
}

#nav > ul > li.logout_n > dl > dd {
	display:block;
}

#nav > ul > li:nth-of-type(4) ,
#nav > ul > li:nth-of-type(5) ,
#nav > ul > li:nth-of-type(7) ,
#nav > ul > li:nth-of-type(8) ,
#nav > ul > li:nth-of-type(9) ,
#nav > ul > li:nth-of-type(10) ,
#nav > ul > li:nth-of-type(11) {
	color:#fff;
	border-bottom:1px solid #bdbdbd;
}

#nav > ul > li > dl > dd > ul > li > a > span {
	border-bottom: 1px solid #bdbdbd;
    width: 100%;
    display: block;
	line-height:50px;
}

#nav > ul > li > dl > dd > ul > li:last-child {
	border:none;
}

#nav a {
	display:block;
	padding:0px 15px;
}

#nav .logout_n dt {
	padding:0px;
}

#nav .login dt {
	padding:0px 0px 0px 15px;
}



#nav .logout_n dt a {
	padding: 0px 0px 0px 43px;
    position: relative;
}

#nav .logout_n dt a:before {
	content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    height: 23px;
    width: 20px;
    background-image: url(/sp/img/common/login_ico.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

#nav > ul > li > dl > dd > ul > li:after , #nav .logout_n dt:after ,
#nav > ul > li:nth-of-type(4):after ,
#nav > ul > li:nth-of-type(7):after ,
#nav > ul > li:nth-of-type(8):after ,
#nav > ul > li:nth-of-type(9):after ,
#nav > ul > li:nth-of-type(11):after ,
#nav > ul > li:nth-of-type(12):after {
	content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #bba851;
    border-right: 1px solid #bba851;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 43%;
    right: 20px;
}

#nav > ul > li:nth-of-type(2) > dl > dt:after , #nav > ul > li:nth-of-type(3) > dl > dt:after {
	content: "+";
    position: absolute;
    top: 0px;
    right: 15px;
    color: #bba851;
    font-size: 18px;
}

#nav > ul > li > dl > dt.m_con:after {
	content:"-";
}


/* footer */

#footer .plist_box,
.middle_plink .plist_box {
	padding:0px 15px;
	/* height:52.5px; */
	background-image: url(/sp/img/common/back_pat.png);
	font-size:12px;
}

#footer .plist_box ul,
.middle_plink .plist_box ul {
	display: table-cell;
  vertical-align: middle;
  height: 52.5px;
}
.middle_plink {
	margin-bottom: 30px;
}
.middle_plink .plist_box ul li {
	float: left;
}

#footer {
    background-image: url(/sp/img/common/bback_pat.png);
}

#footer .footertop_box {
	margin:0px 15px;
	padding:20px 0px 0px;
}

#footer .footertop_box > div {
	width:150px;
	margin:0px auto 20px;
}

#footer .footertop_box > div > h2 {
	position: relative;
    padding: 0px 0px 0px 28px;
}

#footer .footertop_box > div > h2:after {
	content:"";
	background-image:url(/sp/img/common/fgide_ico.png);
	background-size:23px;
	background-repeat:no-repeat;
	position:absolute;
	height:23px;
	width:23px;
	top:2px;
	left:0px;
}

#footer .footertop_box .block_ft_top {
	width: 100%;
	margin-bottom: 40px;
}
#footer .footertop_box .block_ft_top .part_banner {
	.l_bnr + .l_txt {
		margin-top: 10px;
	}
}

#footer .footertop_box > ul > li {
	margin:0px 0px 20px;
	padding:0px 0px 20px;
	border-bottom:1px dotted #727272;
}

#footer .footertop_box > ul > li:last-child {
	border:none;
}

/* 7/13以降修正分 ここから */
#footer .footertop_box > ul > li > img {
	float: left;
	width: 85px;
	margin: 0px 10px;
}

#footer .footertop_box > ul > li > a > img {
	float: left;
	width: 85px;
	margin: 0px 10px;
}

#footer .footertop_box > ul > li > div {
	float: right;
    width: 100%;
    margin: 0px 0px 0px -115px;
}

#footer .footertop_box > ul > li > div > ul {
	float: left;
    margin: 0px 0px 0px 115px;
}

#footer .footertop_box > ul > li > div > ul > li:nth-of-type(1) {
	text-align:left;
	margin:0px 0px 5px;
}

#footer .footertop_box > ul > li > div > ul > li:nth-of-type(2) {
	font-size:12px;
}

#footer .footertop_box div.listlink {
	width: 100%;
	height: 22px;
	margin: 0 0 20px;
	text-align: right;
}

#footer .footertop_box div.listlink a {
	display: inline-block;
	position: relative;
	right:0px;
}

#footer .footertop_box div.listlink a:after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(/sp/img/common/co_ico.png);
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
}

#footer .companypro {
	position:relative;
}

#footer .companypro:before {
	content: "";
    background-image: url(/img/common/companypro_ico.png);
    width: 10px;
    background-size: 10px;
    height: 10px;
    position: absolute;
    left: 82px;
    top: 19px;
}
/* 7/13以降修正分 ここまで */

#footer .footertop_box > ul > li:last-child > ul {
	text-align:center;
}

#footer .footertop_box > ul > li:last-child > ul > li:nth-of-type(2) {
	font-size:42px;
	color:#b80000;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

#footer .footertop_box > ul > li:last-child > ul > li:nth-of-type(3) {
	color:#d36a6a;
	font-size:10px;
	margin:0px 0px 5px;
}

#footer .footertop_box > ul > li:last-child > ul > li:nth-of-type(4) {
	margin:0px 0px 20px;
}

#footer .footertop_box > ul > li:last-child > ul > li:nth-of-type(5) {
	width:100%;
	color:#ffffff;
	background-color:#555555;
	height:50px;
	line-height:50px;
	font-weight:bold;
}

#footer .footertop_box > ul > li:last-child > ul > li:nth-of-type(5) a {
	display:block;
}

#footer .footerlink_box > ul > li , #footer .footerlink_box > ul > li > dl > dt ,
#footer .footerlink_box > ul > li > dl > dd > ul > li {
	background-color:#555555;
	color:#ffffff;
	border-bottom:1px solid #666666;
	position:relative;
}

#footer .footerlink_box > ul > li:nth-of-type(1):after , #footer .footerlink_box > ul > li:nth-of-type(2):after ,
#footer .footerlink_box > ul > li:nth-of-type(3):after , #footer .footerlink_box > ul > li:nth-of-type(5):after ,
#footer .footerlink_box > ul > li:nth-of-type(6):after ,
#footer .footerlink_box > ul > li > dl > dd > ul > li:after {
	content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 43%;
    right: 20px;
}

#footer .footerlink_box > ul > li > dl > dt:after {
	content: "+";
    position: absolute;
    top: 23%;
    right: 15px;
    line-height: initial;
    font-size: 20px;
}

#footer .footerlink_box > ul > li > dl > dt.m_con:after {
	content:"-";
}

#footer .footerlink_box > ul > li:nth-of-type(1) , #footer .footerlink_box > ul > li:nth-of-type(2) ,
#footer .footerlink_box > ul > li:nth-of-type(3) , #footer .footerlink_box > ul > li:nth-of-type(5) ,
#footer .footerlink_box > ul > li:nth-of-type(6) ,
#footer .footerlink_box > ul > li > dl > dt , #footer .footerlink_box > ul > li > dl > dd > ul > li {
	height:50px;
	line-height:50px;
}

#footer .footerlink_box > ul > li > a , #footer .footerlink_box > ul > li > dl > dt ,
#footer .footerlink_box > ul > li > dl > dd > ul > li > a {
	display:block;
	padding:0px 0px 0px 15px;
}

#footer .footerlink_box > ul > li > dl > dd {
	display:none;
}

#footer .footerlink_box {
	margin:0px 0px 30px;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

#footer .footerbottom_box > ul:nth-of-type(1) {
	width:180px;
	margin:0px auto 30px;
}

/* 7/13以降修正分 ここから */
#footer .footerbottom_box > ul:nth-of-type(1) li img {
	/*width:23px;*/
}
/* 7/13以降修正分 ここまで */

#footer .footerbottom_box > ul:nth-of-type(1) > li {
	float:left;
	width:50px;
	text-align:center;
}

#footer .footerbottom_box > ul:nth-of-type(2) img {
	width:140px;
	margin:0px auto;
	display:block;
}

#footer .footerbottom_box > ul:nth-of-type(2) > li:nth-of-type(1) {
	margin:0px 0px 15px;
}

#footer .footerbottom_box > ul:nth-of-type(2) > li:nth-of-type(2) {
	font-size:10px;
	margin:0px 0px 15px;
	text-align:center;
}

/*------------------------------
		230309 改修
------------------------------*/
#footer .footertop_box .ft_box_guide {
	display: flex;
	justify-content: space-between;
	width: 100%;
	float: none;
	margin: 0;
}
#footer .footertop_box .ft_box_guide .ft_box_guide_l {
	width: calc(100 / 345 * 100%);
}
#footer .footertop_box .ft_box_guide .ft_box_guide_l .img {
	height: 100%;
}
#footer .footertop_box .ft_box_guide .ft_box_guide_l .img a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 calc(10 / 100 * 100%);
}
#footer .footertop_box .ft_box_guide .ft_box_guide_l .img a img,
#footer .footertop_box .ft_box_guide .ft_box_guide_l .img a svg {
	display: block;
	width: 100%;
	height: auto;
}
#footer .footertop_box .ft_box_guide .ft_box_guide_r {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: calc(230 / 345 * 100%);
}
#footer .footertop_box .ft_box_guide .ft_box_guide_r .txt_heading {
	font-size: 16px;
	width: 100%;
	margin-bottom: 5px;
}
#footer .footertop_box .ft_box_guide .ft_box_guide_r .txt {
	font-size: 12px;
	width: 100%;
}
/*------------------------------*/

#subback {
    background-color: rgba(0,0,0,.7);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 9980;
}

#subback img {
	height:55px;
	position:absolute;
	top:0px;
	right:0px;
}

.pclink_box {
	margin: 0px 15px 28px;
    background-color: #555555;
    text-align: center;
    /*height: 50px;*/
    line-height: 50px;
    font-weight: bold;
}

.pclink_box a {
	display:block;
}

.pclink_box a:link, .pclink_box a:visited, .pclink_box a:hover {
	color: #fff;
}

/* mxslider */

.recentcheck_box h2 {
	position:relative;
	margin:0px 0px 20px;
}

.recentcheck_box h2:before {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.recentcheck_box h2 span {
	background: #fff;
    padding: 0px 10px;
    position: relative;
    z-index: 5;
    margin: 0px auto;
    width: 190px;
    display: block;
    text-align: center;
}

.recentcheck_box {
	padding: 25px 15px 30px;
    background-color: #ffffff;
}

.recentcheck_box > div > div > ul > li > a > ul > li:nth-of-type(2) {
	font-size:12px;
}

/* 6/6以降修正分 ここから */
.recentcheck_box > div > div > ul > li > a > ul > li:nth-of-type(3) {
	font-size:12px;
	color:#000;
}

.recentcheck_box > div:nth-of-type(1) {
	margin:0px 0px 15px;
}

.morebtn_box a {
	float:right;
	display:block;
	position:relative;
}

.morebtn_box a:after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(/sp/img/common/co_ico.png);
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: 74px;
}
/* 6/6以降修正分 ここまで */

/* mxslider */
.mxslider {
	position:relative;
}

.mxslider > div > ul {
    width: 1415%;
    position: relative;
    right: 0px;
}

.mxslider > div > ul > li {
	float:left;
	margin:0px 15px 0px 0px;
}

.mxslider_sub > div > ul > li {
	margin:0px;
}

.mxslider > div > ul > li img {
	width:100%;
}

.mxslider_in {
	overflow:hidden;
}

.mxnext {
	position: absolute;
    top: 20%;
    right: -5px;
    background: url(/sp/img/common/next_ico.png) no-repeat;
    background-size:100%;
    width: 10%;
    height: 30%;
    text-indent: -9999px;
    z-index: 999;
}

.mxslider_sub .mxnext {
	top: 50%;
    margin: -20px 0px 0px 0px;
    right: 0px;
    background: url(/sp/img/common/sliderright_btn.png) no-repeat;
    width: 40px;
    background-size: 40px;
}

.mxprev {
    position: absolute;
    top: 20%;
    left:-5px;
    display: none;
    background: url(/sp/img/common/prev_ico.png) no-repeat;
	background-size:100%;
    width:10%;
    height:30%;
    text-indent: -9999px;
    z-index: 999;
}

.mxslider_sub .mxprev {
	top: 50%;
    margin: -20px 0px 0px 0px;
    left: 0px;
    background: url(/sp/img/common/sliderleft_btn.png) no-repeat;
    width: 40px;
    background-size: 40px;
}

.mxallpre {
    position: absolute;
    top: 20%;
    right: -5px;
    display: none;
    background: url(/sp/img/common/allback_ico.png) no-repeat;
	background-size:100%;
    width:10%;
    height: 30%;
    text-indent: -9999px;
    z-index: 999;
}

.mxslider_sub .mxallpre {
	top: 50%;
    margin: -20px 0px 0px 0px;
    right: 0px;
    background: url(/sp/img/common/sliderlall_btn.png) no-repeat;
    width: 40px;
    background-size: 40px;
}

.navul {
	position:absolute;
	bottom:10px;
	left:50%;
	z-index:9700;
}

/* pagetop */
#pagetop {
	position: fixed;
    bottom: -100px;
    right: 15px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
	z-index:1000;
}

#pagetop img {
	width:60px;
}

.mxslider_sub2 > div > ul > li {
	margin:0px;
}

.mxslider_sub2 .mxnext {
	top:50%;
	margin:-14.5px 0px 0px 0px;
}

.mxslider_sub2 .mxprev {
	top:50%;
	margin:-14.5px 0px 0px 0px;
}

.mxslider_sub2 .mxallpre {
	top:50%;
	margin:-14.5px 0px 0px 0px;
}

/* simo_box */

.simo_box {
	margin: auto;
    position: absolute;
    top: 0px;
    z-index: 998;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 9981;
    box-sizing: border-box;
	min-height:230px;
	display:none;
	padding:15px;
	width:90%;
}

.simo_not_box {
	height:125px;
}

.simo_box ul li:nth-of-type(1) {
	margin:0px 0px 15px;
}

.simor_box ul li:nth-of-type(2) {
	height:68px;
	line-height:68px;
	background-color:#b80000;
	margin:0px 0px 10px;
}

.simor_box ul.b-view-regular-cart li:nth-of-type(2) {
	height:68px;
	line-height:68px;
	background-color:#146658;
	margin:0px 0px 10px;
}

.simor_box ul li:nth-of-type(2) button {
	border: none;
    background-color: inherit;
    width: 100%;
    height: 100%;
    color: #fff;
}

.simor_box ul li:nth-of-type(2) span {
	width: 134px;
    margin: 0px auto;
    color: #fff;
    display: block;
    text-align: left;
    padding: 0px 0px 0px 30px;
	position:relative;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.simor_box ul li:nth-of-type(2) span:before {
	content: "";
    background-image: url(/sp/img/common/cartc_ico.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 24px;
    top: 50%;
    left: 0px;
    width: 24px;
    height: 18px;
    margin: -10px 0px 0px 0px;
}

.simor_box ul.b-view-regular-cart li:nth-of-type(2) span {
	width: 200px;
    margin: 0px auto;
    color: #fff;
    display: block;
    text-align: left;
    padding: 0px 0px 0px 30px;
	position:relative;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.simor_box ul.b-view-regular-cart li:nth-of-type(2) span:before {
	content: "";
    background-image: url(/sp/img/common/cartc_ico.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 24px;
    top: 50%;
    left: 0px;
    width: 24px;
    height: 18px;
    margin: -10px 0px 0px 0px;
}

.simor_box ul li:nth-of-type(3) , .simo_not_box  ul li:nth-of-type(2) {
	border:1px solid #000;
	text-align:center;
	height:55px;
	line-height:55px;
	position:relative;
}

.simor_box ul li:nth-of-type(3):after , .simo_not_box  ul li:nth-of-type(2):after {
	content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #bba851;
    border-right: 1px solid #bba851;
	-moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    top: 43%;
    left: 20px;
}

/* itemcontents */
.itemcontents_x {
	margin:0px 15px 15px;
	border-bottom: 1px dotted #7c7c7c;
}
.itemcontents_x > li {
	margin-bottom:15px;
	font-size:12px;
}

.itemcontents_x > li h4 {
	font-size:16px;
	margin:0px 0px 5px;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.itemcontents_x > li h5 {
	font-size:12px;
}

.itemcontents_x > li img {
	width:100%;
	margin:0px 0px 15px;
}

.itemcontents_y {
	margin:0px 15px 15px;
	border-bottom: 1px dotted #7c7c7c;
}

.itemcontents_y > li {
	margin-bottom:15px;
	font-size:12px;
}

.itemcontents_y > li h4 {
	font-size:16px;
	margin:0px 0px 5px;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.itemcontents_y > li h5 {
	font-size:12px;
}

.itemcontents_y > li img {
	width:100%;
	margin:0px 0px 15px;
}

.itemcontents_z {
	margin:0px 15px 15px;
	border-bottom: 1px dotted #7c7c7c;
}
.itemcontents_z > li {
	margin-bottom:15px;
	font-size:12px;
}

.itemcontents_z > li h4 {
	font-size:16px;
	margin:0px 0px 5px;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.itemcontents_z > li h5 {
	font-size:12px;
}

.itemcontents_z > li img {
	width:100%;
	margin:0px 0px 15px;
}

.itemcontents_w {
	margin:0px 15px 15px;
	border-bottom: 1px dotted #7c7c7c;
}

.itemcontents_w > li {
	margin-bottom:15px;
	font-size:12px;
}

.itemcontents_w > li h4 {
	font-size:16px;
	margin:0px 0px 5px;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.itemcontents_w > li h5 {
	font-size:12px;
}

#footer .footerbottom_box > ul:nth-of-type(1) {
	width:300px;
	margin:0px auto 30px;
}

.itemcontents_v {
	/* padding:0px 15px; */
}

.itemcontents_v > div {
	margin-bottom:20px;
	padding-bottom:15px;
	border-bottom:1px dotted #7c7c7c;
}

.itemcontents_v > div:last-child {
	margin-bottom:0px !important;
	padding-bottom:0 !important;
	border-bottom:none;
}

.itemcontents_v > div > ul {
	margin:0px 0px 20px;
}

.itemcontents_v > div > ul > li {
    float: left;
    box-sizing: border-box;
}

.itemcontents_v > div > ul > li:nth-of-type(1) {
    width: 38%;
    margin: 0px 4% 0px 0px;
}

.itemcontents_v > div > ul > li:nth-of-type(1) > img {
    width: 100%;
}

.itemcontents_v > div > ul > li:nth-of-type(2) {
    width: 58%;
}

.itemcontents_v > div .cartinbtn_box a {
	display:block;
	height:67px;
	line-height:67px;
	margin:0px;
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
	width:100%;
	border:none;
	background-color:#b80000;
	color:#fff;
	position:relative;
}

.itemcontents_v > div .cartinbtn_box a:before {
	content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -4px 0px 0px 0px;
}

.itemcontents_v > div .cartinbtn_box a span {
	position: relative;
    padding: 0px 0px 0px 30px;
    display: block;
    width: 170px;
    margin: 0px auto;
	color:#fff;
	height:67px;
	line-height:67px;
}

.itemcontents_v > div .cartinbtn_box a span:after {
	content: "";
    background-image: url(/sp/img/common/cartc_ico.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 24px;
    top: 50%;
    left: 0px;
    width: 24px;
    height: 18px;
    margin: -10px 0px 0px 0px;
}

.itemcontents_noline {
	border-bottom:none;
	margin-bottom:25px;
}

.itemcontents_v ul.siprice_box > li:nth-of-type(1) {
	width:100%;
	text-align:right;
}

.itemcontents_v ul.siprice_box > li:nth-of-type(1) span {
    font-size: 14px;
    font-weight: bold;
}

.itemcontents_u {
	margin:30px 0px 40px;
}

.itemcontents_u li {
	float:left;
	width:49%;
	margin:0px 1% 15px 0px;
	padding:0px 0px 10px;
	border-bottom:#666666 1px dotted;
	text-align:center;
	font-size:14px;
}

.itemcontents_u li a {
	text-decoration:underline;
}

.itemcontents_u li:nth-child(2n) {
	margin:0px 0px 15px 1%;
}

.itemcontents_u li:last-child {
	clear:both;
	width:100%;
	border:#666666 1px solid !important;
	font-weight:bold;
	font-size:20px;
	padding:10px 0px;
	margin:0 !important;
}

.itemcontents_t {
	margin:15px 0px 30px;
}

.itemcontents_t li {
	float:left;
	width:48%;
	height:50px;
	margin-bottom:10px;
}

.itemcontents_t li:nth-child(2n) {
	float:right !important;
}

.itemcontents_t li a {
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	padding:4px 0px;
	border:#c4c4c4 1px solid;
	background:#ffffff;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	position:relative;
	text-decoration:none !important;
	color:#000000;
}

.itemcontents_t li a:after {
	content:"";
	background-image:url(/img/guide/right_arrow05.png);
	background-size:8px auto;
	width:8px;
	height:12px;
	margin:-6px 0px 0px 0px;
	top:50%;
	right:5px;
	position:absolute;
}

.itemcontents_s {
	margin:15px 0px 30px;
}

.itemcontents_s li {
	width:100%;
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom: 1px dotted #7c7c7c;
}

.itemcontents_s li:last-child {
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
}

.itemcontents_s li h4 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:15px;
	position:relative;
}

.itemcontents_s li h4 a {
	text-decoration:underline;
}

.itemcontents_s li h4 p {
	padding:10px 100px 0px 0px;
}

.itemcontents_s li h4 img {
	position:absolute;
	right:0;
	top:50%;
	width:89px;
	margin-top:-40px;
}



.itemcontents_s li > img {
	margin: 0 0 0 4%;
    width: 38%;
	float:right;
}

.itemcontents_s li > div {
	width:58%;
	float:left;
	font-size:12px;
}

/*--------------------------------------------------
		!important
--------------------------------------------------*/
/*-- margin --*/
.mrgT0{margin-top: 0 !important;}
.mrgT5{margin-top: 5px !important;}
.mrgT10{margin-top: 10px !important;}
.mrgT15{margin-top: 15px !important;}
.mrgT20{margin-top: 20px !important;}
.mrgT25{margin-top: 25px !important;}
.mrgT30{margin-top: 30px !important;}
.mrgT50{margin-top: 50px !important;}
.mrgT75{margin-top: 75px !important;}
.mrgT80{margin-top: 80px !important;}
.mrgT85{margin-top: 85px !important;}
.mrgT90{margin-top: 90px !important;}
.mrgT95{margin-top: 95px !important;}
.mrgT100{margin-top: 100px !important;}

.mrgR0{margin-right: 0 !important;}
.mrgR5{margin-right: 5px !important;}
.mrgR10{margin-right: 10px !important;}
.mrgR15{margin-right: 15px !important;}
.mrgR20{margin-right: 20px !important;}
.mrgR25{margin-right: 25px !important;}
.mrgR30{margin-right: 30px !important;}

.mrgB0{margin-bottom: 0 !important;}
.mrgB5{margin-bottom: 5px !important;}
.mrgB10{margin-bottom: 10px !important;}
.mrgB15{margin-bottom: 15px !important;}
.mrgB20{margin-bottom: 20px !important;}
.mrgB25{margin-bottom: 25px !important;}
.mrgB30{margin-bottom: 30px !important;}
.mrgB40{margin-bottom: 40px !important;}
.mrgB50{margin-bottom: 50px !important;}
.mrgB60{margin-bottom: 60px !important;}
.mrgB80{margin-bottom: 80px !important;}
.mrgB85{margin-bottom: 85px !important;}
.mrgB90{margin-bottom: 90px !important;}
.mrgB95{margin-bottom: 95px !important;}
.mrgB100{margin-bottom: 100px !important;}

.mrgL5{margin-left: 5px !important;}
.mrgL10{margin-left: 10px !important;}
.mrgL15{margin-left: 15px !important;}
.mrgL20{margin-left: 20px !important;}
.mrgL23{margin-left: 23px !important;}
.mrgL25{margin-left: 25px !important;}
.mrgL30{margin-left: 30px !important;}
.mrgL30{margin-left: 30px !important;}

/*-- padding --*/
.pad10 {padding: 20px!important;}
.pad20 {padding: 20px!important;}

.padT0 {padding-top: 0 !important;}
.padT5 {padding-top: 5px !important;}
.padT10 {padding-top: 10px !important;}
.padT20 {padding-top: 20px !important;}
.padT30 {padding-top: 30px !important;}
.padT40 {padding-top: 40px !important;}
.padT50 {padding-top: 50px !important;}
.padT80 {padding-top: 80px !important;}

.padB0 {padding-bottom: 0 !important;}
.padB5 {padding-bottom: 5px !important;}
.padB10 {padding-bottom: 10px !important;}
.padB20 {padding-bottom: 20px !important;}
.padB30 {padding-bottom: 30px !important;}
.padB40 {padding-bottom: 40px !important;}
.padB50 {padding-bottom: 50px !important;}
.padB80 {padding-bottom: 80px !important;}

.padF15 {padding-left: 15px !important;}
.padR15 {padding-right: 15px !important;}

/*-- align --*/
.taL {text-align: left !important;}
.taC {text-align: center !important;}
.taR {text-align: right !important;}

/* font-weight */
.bold {font-weight: bold !important;}
.fnormal {font-weight: normal !important;}

/*-- color --*/
.colorRed {color:#FF0000;}
.colorWhite {color: #FFFFFF !important;}
.bgColorDdd {background-color:#DDD !important;}
.bgColorFff {background-color:#FFF !important;}

/*-- fontSize --*/
.fs200 {font-size:200% !important;}
.fs140 {font-size:140% !important;}
.fs130 {font-size:130% !important;}
.fs120 {font-size:120% !important;}
.fs110 {font-size:110% !important;}
.fs100 {font-size:100% !important;}
.fs90 {font-size:90% !important;}
.fs80 {font-size:80% !important;}
.fs70 {font-size:70% !important;}
.fs60 {font-size:60% !important;}

/* font-weight */
.f_bold{
	font-weight:bold !important;
}

/*-- text-decoration --*/
.uLine {text-decoration: underline !important;}

.fontGothic {
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important;
}

.bgimg_none > div > ul > li > a > ul > li:after {
	background-image: none !important;
}

/* add KBH_OPE-4979 */

/* 打ち消し */
/* .sp_header_nav ul li{
	height: auto !important;
} */

#nav > ul > li > dl > dd > ul > li:after, #nav .logout_n dt:after, #nav > ul > li:nth-of-type(4):after, #nav > ul > li:nth-of-type(7):after, #nav > ul > li:nth-of-type(8):after, #nav > ul > li:nth-of-type(9):after, #nav > ul > li:nth-of-type(11):after, #nav > ul > li:nth-of-type(12):after {
	border-top: 1px solid #000;
    border-right: 1px solid #000;
	transform: translateY(-50%) rotate(45deg);
    top: 45%;
}

#nav > ul > li > dl > dt,
#nav.sp_header_nav > ul > li > dl > dd > ul > li {
	border-bottom: none;
	height: auto !important;
}
#nav.sp_header_nav > ul > li > dl > dd > ul > li:first-child {
  margin-top: 2px;
}

.hamburger_body_area{
	height: auto !important;
}

#nav > ul > li:nth-of-type(4){
}

#nav > ul > li:nth-of-type(5) a{
	background-color: #fff;
	color: #000;
	text-align: left;
}

#nav > ul > li:nth-of-type(4):after,
#nav > ul > li:nth-of-type(7):after,
#nav > ul > li:nth-of-type(8):after,
#nav > ul > li:nth-of-type(9):after{
	border: none !important;
}

.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list::after{
	border: none !important;
}

/* 共通系 */
.sp_header_nav .layout_rows_two{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	gap: 6px;
}

.sp_header_nav .layout_rows_two li{
	width: 49%;
}

/* エリア固有 */
/* ハンバーガー上部 */
.sp_header_nav .hamburger_head_area {
	padding-top: 6px;
	padding-bottom: 6px;
}

.sp_header_nav .hamburger_head_area .menu_list .list_item{
	width: 49%;
	height: 16vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f4e7;
	text-align: center;
  line-height: 1.3;
}

.sp_header_nav .hamburger_head_area .menu_list .list_item a{
	height: 100%;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.sp_header_nav .hamburger_head_area .menu_list .list_item.row_one{
	width: 100%;
	height: 12vw;
	justify-content: flex-end;
}

.sp_header_nav .hamburger_head_area .menu_list .list_item.row_one a{
	justify-content: flex-end;
}


/* ハンバーガーメイン */
.sp_header_nav .hamburger_body_area{
	padding-bottom: 6px;
    border-bottom: none !important;
}

.sp_header_nav .hamburger_body_area dl{
	background-color: #ffffff;
}

#nav.sp_header_nav > ul > li > dl > dt{
	padding: 0px;
	background-color: #fff;
	color: #0f1011;
	text-align: left;
}

.sp_header_nav .hamburger_body_area dl .menu_ttl{
    margin: 0 15px;
	padding: 0;
	background-color: #ffffff;
}

#nav.sp_header_nav > ul > li > dl .menu_ttl::before,
#nav.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list dt::before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 2px;
    background-color: #6e6969;
    transition: .2s;
    transform: rotate(90deg);
}

#nav.sp_header_nav > ul > li > dl .menu_ttl::after,
#nav.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list dt::after{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 2px;
    background-color: #6e6969;
    transition: .3s;
}

#nav.sp_header_nav > ul > li > dl .menu_ttl.m_con{
    border-bottom: 2px solid #000;
}

#nav.sp_header_nav > ul > li > dl .menu_ttl.m_con::before,
#nav.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list dt.m_con::before{
	transform: rotate(0deg);
}

.sp_header_nav .hamburger_body_area dl .menu_cont{
    padding-left: 30px;
	color: #0f1011;
}
.sp_header_nav .hamburger_body_area dl .menu_cont ul{
	width: 100% !important;
}

.sp_header_nav .hamburger_body_area dl .menu_cont ul li{
    padding-right: 15px;
}

.sp_header_nav .hamburger_body_area dl .menu_cont ul li:last-child span{
	border-bottom: 0 !important;
}

.sp_header_nav .hamburger_body_area dl .menu_cont ul li a{
	padding: 0 !important;
	text-align: left;
}

.sp_header_nav .hamburger_body_area dl .menu_cont ul li a span{
	border-bottom: 2px dotted #bdbdbd !important;
}

.sp_header_nav .hamburger_body_area dl .menu_cont .view_all{
    text-align: right;
}

.sp_header_nav .hamburger_body_area dl .menu_cont .view_all a{
    display: inline-block;
    margin-right: 30px;
    text-align: right;
}

.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list {
	border-bottom: 2px dotted #bdbdbd !important;
	text-align: left;
}

#nav.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list dt{
	position: relative;
}

#nav.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list dd{
	padding-left: 30px;
}

.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list ul{
	/* height: 50px; */
    /* line-height: 50px; */
}

.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list ul li{
	height: 40px;
    line-height: 40px;
	position: relative;
	padding-right: 0;
}

.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list ul li span{
	border-bottom: none !important;
}

.sp_header_nav .hamburger_body_area dl .menu_cont .nest_memu_list dd ul li::after{
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
	content: "";
    width: 8px;
    height: 8px;
	top: 35%;
	position: absolute;
    right: 4px;
}

/* ハンバーガ下部 */
.sp_header_nav .hamburger_foot_area{
	height: auto !important;
	color: #000 !important;
	border-bottom: none !important;
	padding-bottom: 6px;
}

.sp_header_nav .hamburger_foot_area:last-of-type{
	padding-bottom: 0;
}

.sp_header_nav .hamburger_foot_area .menu_list_1st{
	background-color: #fff;
	width: 100% !important;
	row-gap: 20px;
	padding: 30px 15px;
	box-sizing: border-box;
}

.sp_header_nav .hamburger_foot_area .menu_list_1st li{
    display: flex;
    align-items: center;
	width: 45%;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.sp_header_nav .hamburger_foot_area .menu_list_1st li a{
	text-align: left;
	padding: 0 !important;
  font-size: 3.8vw;
}

.sp_header_nav .hamburger_foot_area .menu_list_2st li{
	width: 49%;
    height: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
		line-height: 1.3;
}

.sp_header_nav .hamburger_foot_area .menu_list_3st{
	display: flex;
	justify-content: center;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	column-gap: 10px;
}

.sp_header_nav .hamburger_foot_area .menu_list_3st li {
	display: flex;
    justify-content: center;
    align-items: center;
}

.sp_header_nav .hamburger_foot_area .menu_list_3st li a{
	text-align: center;
}

.sp_header_nav .hamburger_foot_area .menu_list_3st li img{
	width: 60%;
	margin: 0 auto;
}

.sp_header_nav .hamburger_body_area.link_area {
    background-color: #fff;
    margin-bottom: 6px;
	padding-bottom: 0;
	position: relative;
	height: 50px;
    line-height: 50px;
}
.sp_header_nav .hamburger_body_area.link_area::after {
	content: "";
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
	border-top: 1px solid #000;
    border-right: 1px solid #000;
	transform: translateY(-50%) rotate(45deg);
    top: 50%;
}
.sp_header_nav .hamburger_body_area.link_area a{
    background-color: #fff;
    margin-bottom: 6px;
	padding-bottom: 0;
}
.sp_header_nav .hamburger_body_area.link_online a{
    display: flex !important;
    align-content: center;
    align-items: center;
	justify-content: center;
    height: 50px !important;
}
.sp_header_nav .hamburger_body_area.link_online a .inner{
    display: flex !important;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
	column-gap: 10px;
}
.sp_header_nav .hamburger_body_area.link_online a img{
	width: 7.8vw;
}

/* add KBH_OPE-5073 */
.initial_pading_top{
	padding-top: 0 !important;
}

/* KBH_OPE-5064 */
.recommend_simo_box.simor_box ul li:nth-of-type(3){
	border:none;
	text-align:left;
	height:auto;
	line-height:1.7;
	position:relative;
}

.recommend_simo_box.simor_box ul li:nth-of-type(3):after{
	content:none;
}
.recommend_simo_box.simor_box ul li.simo_close{
	border: 1px solid #000;
	text-align: center;
	height: 55px;
	line-height: 55px;
	position: relative;
}
.recommend_simo_box.simor_box ul li.simo_close::after{
	content: "";
	width: 8px;
	height: 8px;
	border-top: 1px solid #bba851;
	border-right: 1px solid #bba851;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	position: absolute;
	top: 43%;
	left: 20px;
}

.recommend_popup_block{
	margin-bottom: 10px;
}
.recommend_popup_block .recommend_item_large {
  width: 100%;
  background: url(/img/common/footer_bg.png) 0 0 repeat;
}
.recommend_popup_block .recommend_item_large .recommend_item_top {
  display: flex;
  padding-bottom: 25px;
  background: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
.recommend_popup_block .recommend_item_large .recommend_item_l {
  width: 40%;
}
.recommend_popup_block .recommend_item_large .recommend_item_l .img img {
  width: 100%;
  height: auto;
}
.recommend_popup_block .recommend_item_large .recommend_item_r {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.recommend_popup_block .recommend_item_large .name {
  color: #80590e;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}
.recommend_popup_block .recommend_item_large .price {
  font-weight: bold;
  margin-bottom: 6px;
}
.recommend_popup_block .recommend_item_large .price span {
  font-size: 20px;
}
.recommend_popup_block .recommend_item_large .btm_content .btnAddCart_small a {
  width: 100%;
}
.recommend_popup_block .recommend_item_large .recommend_item_bottom {
  padding: 25px;
}
.recommend_popup_block .recommend_item_large .recommend_item_voice dt {
  font-weight: bold;
  margin-bottom: 6px;
}
.recommend_popup_block .recommend_item_large .recommend_item_voice dt:before {
  content: '';
  width: 24px;
  height: 22px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: text-bottom;
  background: url(/img/common/voice_ico.png) no-repeat;
  background-size: contain;
}
.recommend_popup_block .recommend_item_r .btm_content {
    margin-top: auto;
}
.recommend_popup_block .btnAddCart_small a {
  display: block;
  line-height: 34px;
  border: 2px solid #222;
  color: #222;
  text-decoration: none;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
}
.recommend_popup_block .btnAddCart_small a:before {
  content: '';
  width: 18px;
  height: 17px;
  display: inline-block;
  background: url(/img/common/icon_cart.png);
  margin-right: 6px;
  vertical-align: text-top;
}
.recommend_popup_block .btnAddCart_small a:hover {
	color: #222;
	background-color: #e9e9e9;
	text-decoration: none;
}

.recommend_popup_block .recommend_heading {
	margin: 20px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

/* KBH_OPE-6111 */
footer .announce-block{
    width: 100% !important;
	margin-bottom: 40px !important;
}

footer .announce-block__inner{
	text-align: center;
}

footer .announce-block__link{
	text-decoration: underline;
}
